In [7]:
#Execute each of these separately while commenting other statements
#observe the outputs carefully


# print in 3.x : is a function
#				parentheses are a must
#print "one"      # error
print("two")

# how many arg? variable # of arg; all are significant; 
#no comma operator
print("two", "three", "four")
print(print)

print("printing here")
print        # no output
(
"printing here doesnt print "
)
#escaping the new line
Print("case sensitive")       #case sensitive. p should be small in print
print("indentation")		# indentationError
print                      
(
"printing here"
)

two
two three four
<built-in function print>
printing here

NameError: name 'Print' is not defined

In [11]:
print("Hi")
x=10
y="Python"
print(y)
print(y1)
#if (x<10):
#   print("welcome")

Hi
Python

NameError: name 'y1' is not defined

In [13]:
type( ('a') )

str

In [17]:
type((1,))

tuple

In [ ]:
type( ('a',) )
<type 'tuple'>

In [19]:
t=(1,2,3,4,(6,7,8))
for i in t:
    print(i)

1
2
3
4
(6, 7, 8)

In [27]:
t.count(4)

1

In [7]:
6%-4

-2

In [1]:
print("welcome")

welcome

In [3]:
for i in range(5):
    print("Welcome")

Welcome
Welcome
Welcome
Welcome
Welcome

In [13]:
l=[*range(5)]
print(l)

[0, 1, 2, 3, 4]

In [15]:
print("welcome");x="python"; print(x)

welcome
python

In [19]:
''' Hi welcome
to python lskjgklaffjgkldafg ldkgjlkfdjgklfd 's;dljgdflkjgklfdg s;dlfkglsdfgldfkg;dflkgl;dfgkdfljgkfladkjggklfd'''
print\
("welcome"\
)

welcome

In [21]:
#this is a program for adding two number
c=10+20
print(c)

30

In [11]:
print\              
(\
"printing here" \
)

SyntaxError: unexpected character after line continuation character (3096806195.py, line 1)

In [17]:
l=list()
t=tuple()
s=set()
d=dict()

In [19]:
id(l)

1876657291648

In [15]:
print\(
    """ Hi welcome 
to python""")

SyntaxError: unexpected character after line continuation character (2476318760.py, line 1)

In [7]:
print(\
    """ Hi welcome 
to python""")

 Hi welcome
to python

In [17]:
print("rama", "bheema","shyama")

rama bheema shyama

In [29]:
print(10,20,30)

10 20 30

In [31]:
print(10,20,30,sep=',,', end='\t')
print(None)
print("Hi welcome")

10,,20,,30	None
Hi welcome

In [9]:
l=[*range(5)]

In [11]:
print(l)

[0, 1, 2, 3, 4]

In [15]:
l1=[1,2,3,"Hi"]

In [17]:
print(l1)

[1, 2, 3, 'Hi']

In [23]:
m=range(1,6)

In [27]:
type(m)

range

In [33]:
print("Hi welcome to Python",end=' '); print("nice to start with Python")

Hi welcome to Python nice to start with Python

In [7]:
 print("Hi")
x=0
if (x<0):
    print("x is -ve")

Hi

In [15]:
 print("python") #valid 
'''print('python')#valid
#print("python')# error ,SyntaxError: EOL while scanning string literal
#print('python")# error ,SyntaxError: EOL while scanning string literal

print("python")# error,IndentationError: unexpected indent'''

python

'print(\'python\')#valid\n#print("python\')# error ,SyntaxError: EOL while scanning string literal\n#print(\'python")# error ,SyntaxError: EOL while scanning string literal\n\nprint("python")# error,IndentationError: unexpected indent'

In [11]:
 print("Hi")

Hi

In [39]:
print(5*4/(3-2))

20.0

In [21]:
num=10
k=num
print(id(num),id(k))
k=30
print(id(num),id(k))

140728346199112 140728346199112
140728346199112 140728346199752

In [27]:
num=10.0
print(id(num))
num=num+20.67
print(id(num))

3162734607888
3162734599440

In [35]:
y="hi"
print(5*y)

hihihihihi

In [55]:
num=k=20
print(id(num),id(k))

140711832372616 140711832372616

In [37]:
type(k)

int

In [43]:
x=100000000000000000000000000000000
type(x)

int

In [45]:
type("welcome")

str

In [59]:
b=bool()
b=True
print(b)

True

In [69]:
x=int()
x=1909328782937488327123092850391485

print(x)

1909328782937488327123092850391485

In [3]:
 print("Hi")

Hi

In [51]:
x=input()

 45

In [53]:
type(x)

str

In [ ]:
x=

In [3]:
marks=input("Enter 2 marks")

marks=marks.split()
type(marks)

Enter 2 marks 45 67

list

In [5]:
print(marks)

['45', '67']

In [9]:
x=20
y=20
x is y

True

In [13]:
45 in marks

False

In [17]:
x= 5<1
x

False

In [19]:
x=10
x++

SyntaxError: invalid syntax (3387993841.py, line 2)

In [21]:
5%-2

-1

In [23]:
-5%-2

-1

In [25]:
-5%2

1

In [ ]:
x=input("Enter 3 numbers").split()
x

In [11]:
x=input("Enter 3 numbers").split(sep='*')
x

Enter 3 numbers 4*3*8

['4', '3', '8']

In [35]:
x=input("Enter 3 numbers").split(sep='&')
print(x)
#y=x.split()
#print(y)
#x=int(x)
#type(x)

Enter 3 numbers tt&yy&uu

['tt', 'yy', 'uu']

In [39]:
x='2345'
y=list(x)
print(y)

TypeError: 'int' object is not iterable

In [47]:
x=float()
x=10.5
y=6
z=int()
z=int(x+y)
z

16

In [3]:
name=input("enter your name")
print("welcome ", name)

enter your name gggg

welcome  gggg

In [11]:
print(chr(97))

a

In [15]:
'red' in ('red','blue')

True

In [17]:
'python' in 'welcome to python'

True

In [25]:
l=[] 
bool(0) is False

True

In [1]:
x=(5>2 or 4<3)
x

True

In [39]:
x=12 | 4
x

12

In [45]:
print(1^0)

1

In [57]:
-5%-2

-1

In [61]:
print ("""welcome to print function""")
a="pes"
print("The value of a is",a)
# expression as arg : evaluated before the call
print(2 + 2)
print(2+3)                  #expression is evaluated
print("2+3")			#a string
print("red",'green' "blue")
print("red")
print('green')
print("red");print("green")
#how to print in two separate lines using a single statement.--> use \n control character
print('red\ngreen')
print("\"I'm going to college\"")
print("red","green","white",sep="----",end="**")  #keyword arguments are sep="----" and end="**"
# always positional args first and then the keyword arguments

print("2"+"pes")   #error
a=2+3j
b=4-2j
print(a+b)     # 2+3j

welcome to print function
The value of a is pes
4
5
2+3
red greenblue
red
green
red
green
red
green
"I'm going to college"
red----green----white**2pes
(6+1j)

In [26]:
print("red",'green', "blue")

red green blue

In [7]:
print("\"I'm going to college\"")

"I'm going to college"

In [9]:
sep = "*"
print("rama", "krishna")
print("apple", "banana", sep = "@") # does not create a variable called sep
print(sep)  # * not @

rama krishna
apple@banana
*

In [11]:
sep = "----"
# value of variable sep is substituted and nothing special
print("rama", "krishna", "parama ", "hamsa ", " not ", sep)

rama krishna parama  hamsa   not  ----

In [13]:
a = 10
#write the diagram for these statements
b = 10
# below lines must give the same output
print(id(10))
print(id(a))
print(id(b))
# id function returns the unique identity value associated with 
#the given value

140706078901320
140706078901320
140706078901320

In [2]:
2**3**2

512

In [10]:
-5%-2

-1

In [20]:
~1

-2

In [22]:
print ("""welcome to print function""")

welcome to print function

In [32]:
print('"Hi welcome"')

"Hi welcome"

In [65]:
109896793

109896793

In [38]:
print("to", end = "")
print("get", end = "")
print("her")

together

In [40]:
sep = "----"
# value of variable sep is substituted and nothing special
print("rama", "krishna", "parama ", "hamsa ", " not ", sep)

rama krishna parama  hamsa   not  ----

In [15]:
a = 10
#write the diagram for these statements
b = 10
# below lines must give the same output
print(id(10))
print(id(a))
print(id(b))
# id function returns the unique identity value associated with 
#the given value

140734245487688
140734245487688
140734245487688

In [44]:
5**2**3

390625

In [46]:
a = int(input("Enter first number"))
b = int(input("Enter second number"))
#binary operators
d = a + b
print(d)
d = a - b
print(d)
d = a * b
print(d)
d = a / b    #true division operator
print(d)
d= a // b  #Integer Division or floor division  or truncating division operator
print(d)
d = a % b		# % operator gives the remainder of a//b
print(d)
d = a**b		#Power operator
print(d)

Enter first number 45
Enter second number 56

101
-11
2520
0.8035714285714286
0
45
380102539714517509119234755043630811768952009743379517880956797171165817417204380035400390625

In [48]:
print(3+2*4)      
print(2*4//5)
print(4//5*2)
print(2**2**3)    # right to left associativity
print((2**2)**3)
print(2*2**8)    # only order of precedence is required to solve this
print(10*4%3**2**2)

11
1
0
256
64
512
40

In [54]:
0 or 1

4

In [58]:

a = int(input("Enter the first number"))   # use float() and enter float numbers and check the output
b = int(input("Enter the second number"))
c = int(input("Enter the third number"))

print("a and b:", a and b)
print("a or b:", a or b)
print("not a:", not a)			#any non - zero is true
print("a and b and c:", a and b and c)
print("a or b or c:", a or b or c)
print("a and b or c:", a and b or c)
print("a or b and c:", a or b and c)
print("not a and b:", not a and b)   # see the precedence mentioned above
#print(and a)    #Syntax Error

print( 5 and 2 or 0)
print( 5 or 0 or 2)
print(0 or 1 or 4)
print(1 or 5 or 0)
print(1 and 0 or 7)
#not of any non-zero value is False
#empty string ("") is equivalent to false value
print(not 5.5)    #False
print(not 0.0)   #True
print(not 0)  #True
print (not "facebook") # False
print(not "")   # True

Enter the first number 4
Enter the second number 5
Enter the third number 6

a and b: 5
a or b: 4
not a: False
a and b and c: 6
a or b or c: 4
a and b or c: 5
a or b and c: 4
not a and b: False
2
5
1
1
7
False
True
True
False
True

In [13]:
[10,20,30] > ["Hi",20]

TypeError: '>' not supported between instances of 'int' and 'str'

In [25]:
print( 5 and 2 or 0)

2

In [29]:
if (5>10):
    print("Hi")

In [31]:
0 and 1 or 7

7

In [23]:
not 0.0

True

In [35]:
not 0 and 5

5

In [37]:
10>>2

2

In [39]:
104<<3

832

In [43]:
'Hi'*10.0

TypeError: can't multiply sequence by non-int of type 'float'

In [45]:
10*'Hi'

'HiHiHiHiHiHiHiHiHiHi'

In [57]:
s1={1,2,3}
s2={'a','b','c',1,2}
print(s1&s2)
print(s1|s2)

{1, 2}
{1, 2, 3, 'b', 'a', 'c'}

In [67]:
#Relational Operators
	#used for comparison purpose
	#Result of these operations is always boolean. -->True or False
	#		==		Determining or checking if two values are equal . Not assignment(=)
	#		!=
	#		<		
	#		>
	#		<=
	#		>=
	#		
#a=float(input("enter the number"))
#b=float(input("enter the number"))
a=10
b=20
#Arithmetic Comparison
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)
print(a!=b==a==a==a)    #False
	#Line 20 is interpreted as (a !=b and b==a and a===a and a==a)
print(a!=b and not 1)   # False
print(a!=(b and not 1))   # True

True
False
True
False
False
True
False
False
True

In [31]:
#Bitwise Operators
#	Uses: Embedded system software
#		  Bit stream serialization
#		  Encoding algorithms
#(&, |, ~, ^, <<, >>)


# Here all examples are solved using 8 bits. If the number is more than (2**7) - 1 .. Please use more bits
#Any queries, meet me
#Precedence of Bitwise operators
'''			~		
			>> <<   L to R
			&		L to R
			| ^		L to R
'''

a = int(input("Enter first number"))
b = int(input("Enter second number"))

# bitwise &, | and ^
print("a & b:", a & b)
print("a | b:", a | b)
print("a ^ b:", a ^ b)


print("a & b & b:", a & b & b)
print("a & b | b:", a & b | b)
print("a | b & b:", a | b & b) # & operator has more precedence than |
print("a | b ^ a:", a | b ^ a) # ^ and | has same precedence. So Left to right associativity
print("a & b ^ a:", a & b ^ a) # & operator has more precedence than ^
print("a | b & a ^ b:", a | b & a ^ b)

#Bitwise negation or complement
print("~a:", ~a )
#	If a is a positive number ex: 2
#			~a =-3
#			a = 00000010
#			i's complement of a is = 11111101
#			MSB is 1. So negative number  .. Now take the 2's complement of 1111101.
#					1's complement is 0000010. Adding 1 to this gives 2's complement.
#					Answer is 0000011 = 3

#    If a is a negative number ex: -2
#			~a =1
#Negative Numbers are represented in 2s complement form
#			First get the binary for -2. This can be found by 2's complement of 2
#			2 = 00000010
#			1's complement is 11111101. Add 1 to this to get binary for -2 = 11111110. This is how it is stored in memory.
#			1's complement of 11111110 is 00000001 = 1
# 			Answer is 00000001 = 1	


print("a | ~b & a ^ b:", a | ~b & a ^ b)


#Bitwise left shift (<<) and right shift(>>)
a=14     # change the value of a to bigger values and analyse the output
print("a << 3:", a << 3)   #multiplying the number a by 2**3(where 3 is the number of bits to be shifted to left)
print("a >> 3:", a >> 3)   #Dividing the number a by 2**3(where 3 is the number of bits to be shifted to right)

a=-4   # change the value to -5 and higher and see the output

print(a<<1)   # #multiplying the number a by 2**1
#take the binary of -4 by finding the 2's complement of 4. 
#     -4 = 11111100
#Now left shift it by one position = 11111000  adding 0 to
#LSB. MSB is 1 means it is a -ve number. 
Now get the 2's complement of 1111000 i.e equals to 00001111+1 =0001000
#Answer is -8

print(a>>1)		#dividing the number a by 2**1
#     -4 = 11111100
#Now right shift it by one position = 11111110 by adding 1 to MSB. 
#MSB is 1 means it is a -ve number. 
#Now get the 2's complement of 1111110 i.e equals to 0000001+1 = 0000010
#Answer is -2

Enter first number 4
Enter second number 6

a & b: 4
a | b: 6
a ^ b: 2
a & b & b: 4
a & b | b: 6
a | b & b: 6
a | b ^ a: 6
a & b ^ a: 0
a | b & a ^ b: 6
~a: -5
a | ~b & a ^ b: 6
a << 3: 112
a >> 3: 1
-8
-2

In [43]:
a=4
b=6
#a | ~b & a ^ b: 6
-7&4^6

6

In [39]:
b=6
~b

-7

In [9]:
a=1000
print(a is 1000)

False

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\farit\AppData\Local\Temp\ipykernel_16780\3475348653.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(a is 1000)

In [45]:
~-2

1

In [7]:
-4>>1

-2

In [25]:
a=-4
print(a<<1)

-8

In [13]:
a=1000
b=1000
print(a is b)
print(id(a))
print(id(b))

False
2317731514800
2317731514416

In [35]:
a=b=1000

print(id(1000))
print(id(a))
print(id(b))

1951867591760
1951867596144
1951867596144

In [17]:
a=1000
print(a == 1000)

True

In [9]:
print(d=4)

TypeError: 'd' is an invalid keyword argument for print()

In [15]:
a=4
b=6
print("a | ~b & a ^ b:", a | ~b & a ^ b)
~a

a | ~b & a ^ b: 6

-5

In [11]:

4|(-7)&6^6

6

In [19]:
~(2.5)

TypeError: bad operand type for unary ~: 'float'

In [21]:
a=4
print("a >> 3:", a >> 3)

a >> 3: 0

In [9]:
~4

-5

In [15]:
4|6

6

In [23]:
4|6^4

6

In [29]:
4>>3

0

In [1]:
#Assignment operator
#	=
a=4
b="pes"
c=4+3j
print(a,b,c)
print(d=4)

4 pes (4+3j)

TypeError: 'd' is an invalid keyword argument for print()

In [3]:
a=[12,45,12,0,"pes"]
print(12 in a)
s="pes"
print(s in a)
print(s not in a)

print(12 in (-1,23,90,12))

#variations

print([12] in a)   # False   checking for the [12] in a.  
print(13 in a)
c="e"
d="E"
print(c in "pes")
print(d in "pes")
print("app" in "watsapp")    #True
print("pap" in "watsapp")   #False   checks for the string "pap" in "whatsapp". Not the character p and a and p

True
True
False
True
False
False
True
False
True
False

In [21]:
a=1000
b=1000
print(a is b)
print(id(1000))
print(id(a))
print(id(b))

3094750501584
3094750500816
3094750502288

In [9]:
a=1000
print(a is 1000)

False

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\farit\AppData\Local\Temp\ipykernel_20468\3475348653.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(a is 1000)

In [19]:
a=10
b=10
print(id(10))
print(id(a))
print(id(b))

140734245487688
140734245487688
140734245487688

In [29]:
a=1000
b=1000
print(a is b)
print(id(1000))
print(id(a))
print(id(b))

False
3094750501040
3094750501680
3094750500592

In [25]:
a=1
b=1
print(a is b)    #True. It checks for the id(a) and id(b)
print(id(a))
print(id(b))

True
140734245487400
140734245487400

In [42]:
if(True):
    print("Hi")
else:
    print("No")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [1]:
-4>>1

-2

In [21]:
s=0
for i in range(5):
    x=int(input("enter number"))
    s=s+x
print(s)

enter number 5
enter number 55
enter number 67
enter number 12
enter number 33

172

In [5]:
x=int()
while(x<10):
    print(x*x)
    x=x+1
print("end")

0
1
4
9
16
25
36
49
64
81
end

In [9]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
if ((a>b) and (a>c)) :
    l=a
elif (b>c):
    l=b
else:
    l=c

print("largest is %d" % l)

enter a number 56
enter a number 45
enter a number 789

largest is 789

In [15]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
if (a>b>c) :
    l=a
elif (b>c):
    l=b
else:
    l=c

print("largest is %d" % l)

enter a number 56
enter a number 45
enter a number 33

largest is 56

In [21]:

a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
if (a+b>c) and (a+c>b) and (b+c>a) :
    if a==b and b==c :
        print("Equilateral")
    elif a==b or b==c or c==a :
        print("Isocelese")
    else:
        print("scalene")
else:
    print("Triangle cannot be formed with a,b,c")

enter a number 4
enter a number 4
enter a number 4

Equilateral

In [19]:
#sum of first n numbers
n=int(input("enter a number"))
i=1
s=0
while (i<=n):
    s=s+i
    i+=1
    
print(s)

enter a number 345

59685

In [25]:
a=10
print("A is %d"%a)

A is %d 10

In [23]:
#sum of first n numbers
n=int(input("enter a count"))
i=0
s=0
while i<n:
    num=float(input("enter a number"))
    s=s+num
    i+=1
print("Sum= %d" % s)
a=s/n
print("Average = %0.2f" % a)

enter a count 5
enter a number 23
enter a number 67
enter a number 453
enter a number 43
enter a number 689

Sum= 1275
Average = 255.00

In [29]:
#sum of n numbers and average
n=int(input("enter a count"))
s=0
i=1
while(i<=n):
    num=int(input("enter a number"))
    s=s+num
    i+=1
print("Sum= %d" % s)
a=s/n
print("Average = %f" % (s/n))

enter a count 5
enter a number 56
enter a number 78
enter a number 34
enter a number 12
enter a number 38

Sum= 218
Average = 43.600000

In [3]:
#factorial
n=int(input("enter a number"))
f=1
for i in range(1,n+1):
    f=f*i
print("factorial value of %d = %d" % (n,f))

enter a number 45

factorial value of 45 = 119622220865480194561963161495657715064383733760000000000

In [9]:
s=input()
for i in range(0,len(s)):
    print(s[i])

 Hi Welcome

H
i

W
e
l
c
o
m
e

In [1]:
n=int(input("enter a number"))
for i in range(n,-1,-1):
    print(i)

enter a number 3

3
2
1
0

In [3]:
#greatest of two numbers
n1=int(input("enter a number"))
n2=int(input("enter a number"))
if n1>n2 :
    print("%d is greater" % n1)
elif n2>n1:
    print("%d is greater" % n2)
else:
    print("%d is equal to %d" % (n1,n2))

enter a number 45
enter a number 67

67 is greater

In [31]:
#counting number of digits and summing digit in a integer
n=int(input("enter a number"))
c=0
s=0
while(n>0):
    d=n % 10
    s=s+d
    c = c + 1
    n = n//10
    #print(c)
    
print(c)
print(s)

enter a number 1234

4
10

In [79]:
#reversing a number
n=int(input("enter a number"))
rnum = 0
while n > 0:
        d= n % 10
        rnum = rnum * 10 +d
        n = n // 10
print(rnum)

enter a number 123456

654321

In [11]:
#checking Armstrong number
n=int(input("enter a number"))
sum = 0
c=0
ndub=n1=n
while(n1>0):
    c = c + 1
    n1 = n1//10
while n > 0:
        d= n % 10
        sum = sum+d**c
        n =n//10
if (sum==ndub):
    print("%d Armstrong Number" % ndub)
else:
    print("%d is not Armstrong Number" % ndub)

enter a number 153

153 Armstrong Number

In [69]:
n=int(input("enter a number"))
c=0
n1=n
while(n1>0):
    c = c + 1
    n1 = n1//10
print(c)

enter a number 67812345

8

In [83]:
#fibonacci series
n=int(input("enter number n"))
f1=0
f2=1
print(f1,f2,sep=' ',end=' ')
for i in range(n):
    f3=f1+f2
    print(f3,end=' ')
    f1=f2
    f2=f3

enter number n 5

0 1 1 2 3 5 8

In [1]:
n=int(input("enter a number"))
i=1
while i<=n:
    if(i%2==0):
      i=i+1
      continue
    print(i)
    i=i+1

enter a number 20

1
3
5
7
9
11
13
15
17
19

In [5]:
l=["Hi","wel"]
max(l)

'wel'

In [5]:
~-5

4

In [7]:
a=-5
a<<1

-10

In [1]:
print("welcome to Python")

welcome to Python

In [5]:
l=[1,2,3,4,5,5,7,8]
lr=l[::-1]
print(lr)

[8, 7, 5, 5, 4, 3, 2, 1]

In [7]:
t2=(5,10,15,20)
for i in t2:
    print(i,end=' ')

5 10 15 20

In [19]:
l=[1,[2,3],4,5,6]
print(l[1][1])
l[1][1]=30
l1=[45,67]

l[1]=l1
l2

3

[3, 4, [3, 4, [45, 67]]]

In [21]:
l3=[3,4,l3]

NameError: name 'l3' is not defined

In [111]:
l=[]
n=int(input("Enter the count"))
for i in range(n):
    num=int(input("Enter a number"))
    l=l+[num]   # l.append(num)
for i in l:
    if (i % 3==0) and ( i % 5==0):
        print(i)

Enter the count 6
Enter a number 34
Enter a number 56
Enter a number 15
Enter a number 10
Enter a number 60
Enter a number 65

15
60

In [13]:
nums = [3, 41, 12, 9, 74, 15.8,67.9]
print(sum(nums))

222.70000000000002

In [11]:
nums = ['Hi','wl','dd','ff']
print(sum(nums))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [99]:
nums = ('Hi','wl','dd','ff')
print(sum(nums))

TypeError: 'int' object is not callable

In [23]:
nums = [3, 41, 12, 9, 74, 15.8,67.9]
nums.extend((1,2))
print(nums)

[3, 41, 12, 9, 74, 15.8, 67.9, 1, 2]

In [27]:
list1 = [10,2.2,(22,33,43),('python',) ] 
'python' in list1

False

In [35]:
t=(45,67)
type(t)

tuple

In [37]:
t=(,)

SyntaxError: invalid syntax (1379051086.py, line 1)

In [39]:
for i in range(5):
    for j in range(5):
        print(i*j)

0
0
0
0
0
0
1
2
3
4
0
2
4
6
8
0
3
6
9
12
0
4
8
12
16

In [57]:
t=(1,2,2,3,(6,7))
t[4][0]=56
t[2]=30
t

TypeError: 'tuple' object does not support item assignment

In [109]:
s="welcom"
t=tuple(s)
l=list(s)
l
t1=tuple(l)
t1
s1=str(t1)
s1
len(s1)

30

In [67]:
s="welcom"
l=list(s)
s1=str(l)
print(s1)
print(len(s1))

['w', 'e', 'l', 'c', 'o', 'm']
30

In [73]:
n=1234
s=str(n)
t=tuple(s)
t

('1', '2', '3', '4')

In [23]:
l1=[1,2,3,4,5,6]
l2=l1
print(id(l1))
print(id(l2))

2339425472064
2339425472064

In [47]:
l1=[1,2,3,4,5,6,7,8,9,10]
print(l1[-5])
ls=l1[::-1]
#ls

6

In [3]:
d={'e':"arun",'f':"arvind"}
f={'F':"arvind",'e':"arun"}
d==f

False

In [5]:
max(d)

'f'

In [21]:
def s():
    return 3
d1={1:s(),2:"Arun"}
d1[1]

3

In [23]:
x=d1.pop(2)
d1

{1: 3}

In [25]:
x

'Arun'

In [23]:
d1={1:"Aruna",2:"Arun",3:"Bala",4:"Ravi",5:"Raghu"}
result=d1.popitem()
#result
x=d1.setdefault(3,"Sam")
print(x)

Bala

In [37]:
d1={1:"Aruna",2:"Arun",3:"Bala"}
result=d1.popitem()
result

(3, 'Bala')

In [47]:
d1={1:"Aruna",2:"Arun",3:"Bala"}
d2={6:"ff",2:"uu"}
d.setdefault(4,"Aravind")
d1.update(d2)
d1

{1: 'Aruna', 2: 'uu', 3: 'Bala', 6: 'ff'}

In [49]:
d1={1:"Aruna",2:"Arun",3:"Bala"}
for k in d1:
    print(k,d1[k])

1 Aruna
2 Arun
3 Bala

In [11]:
s=10
if s:
    print("S is not empty");
else:
    print("S is empty")

S is not empty

In [19]:
s1="Python"
s2=s1
s3=s1[::]
print(id(s1),id(s2))
print(id(s1),id(s3))

140730757252008 140730757252008
140730757252008 140730757252008

In [23]:
str1="python"
print(id(str1))
str1=str1[::-1]
print(id(str1))

1368694862064
1368771892336

In [25]:
str1="python programming"
str1.index("prog")

7

In [45]:
#plaindrome
s=input("enter a string")
i=0
flag=0
n=len(s)
while(i<n/2):
    if s[i] != s[n-i-1]:
        flag=1
        break
    i=i+1
if flag==0:
    print("palindrome")
else:
     print("not palindrome")

enter a string madam

palindrome

In [51]:
#palindrome
s=input("enter a string")
i=0
n=len(s)
while(s[i] == s[n-i-1]):
    if(i==int(n/2)):
      print("palindrome")
      break
    i=i+1
else:
   print("not palindrome")

enter a string 121

palindrome

In [21]:
#wordcount
s=input("enter a string")
i=0
wc=1
n=len(s)
prev=''
while(i<n):
    if (prev == '' or prev.isalpha()):
        if(s[i] == ' '):
          wc=wc+1
    prev=s[i]
    i=i+1
print(wc)

enter a string Hi welcome  to python

4

In [157]:
str1="Welcome to Python class"
#str1.startswith("Welcome",0,6)
str1.endswith("class",18,23)

True

In [163]:
n=int(input("enter n"))
l=[]
for i in range(n):
    s=input()
    l=l+[s]

for s in l:
    if s.startswith("Hello"):
        print(s)

enter n 5
 Hello How are u
 Hi
 Hello fine
 Fine
 Hello thanks

Hello How are u
Hello fine
Hello thanks

In [161]:
s1="python"
s2="program"
#s2[0]="f"
print(id(s1))
s1=s1+s2
print(id(s1))
'''
s2=s1
s3=s1[::]
print(id(s1),id(s2))
print(id(s1),id(s3))'''

1368694862064
1368801590320

'\ns2=s1\ns3=s1[::]\nprint(id(s1),id(s2))\nprint(id(s1),id(s3))'

In [123]:
for i in "welcome":
    print(i)

w
e
l
c
o
m
e

In [133]:
s=''' Hi how are you
I am fine
ok good'''
print(s.rfind('o'))

31

In [71]:
s="PYTHON PROG"
s.capitalize()

'Python prog'

In [77]:
s1="abc"

s1=' '.join(s1)
s1

'a b c'

In [83]:
s="     hhhhh    "
s.center(20)

'        hhhhh       '

In [87]:
s="Lu, Chao"
s.split(",")

['Lu', ' Chao']

In [25]:
t=(5,)
type(t)

tuple

In [91]:
t=("Ram","Arun")
sorted(t)
t

('Ram', 'Arun')

In [57]:
s={1,2,3,4}
for i in s:
    print(i)
s.add(5)
s

1
2
3
4

{1, 2, 3, 4, 5}

In [59]:
s={1,2,3,4,["yy","ii"]}

TypeError: unhashable type: 'list'

In [61]:
s={1,2,3,4}
reversed(s)

TypeError: 'set' object is not reversible

In [29]:
s={1,2,3,4,4}
s.add(10)
s.add(10.5)
s

{1, 2, 3, 4, 10, 10.5}

In [11]:
s={1,2,3,4}
s.pop()

1

In [13]:
s

{2, 3, 4}

In [15]:
s.pop()

2

In [3]:
set1={"apple", "banana", "cherry"}
set2={"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
set1

{'banana', 'cherry', 'google', 'microsoft'}

In [33]:
a = { 10, 30, 10, 40, 20, 50, 30 }
for i in a:
    print(i)

50
20
40
10
30

In [31]:
str1="Welcome to Python Class"

In [33]:
str1.startswith("W",0)

True

In [39]:
str1.startswith("W",1)

False

In [35]:
str1.startswith("App",5,8)

False

In [37]:
str1.startswith("App",6,9)

False

In [9]:
#for string objects that allows you to convert a 
#string into bytes using a specified encoding.
original_string = "Hello, World!"

# Encode using UTF-8 (default)
encoded_utf8 = original_string.encode('utf-8')
print(f"Encoded (UTF-8): {encoded_utf8}")  # Output: b'Hello, World!'

# Encode using ASCII
encoded_ascii = original_string.encode('ascii')
print(f"Encoded (ASCII): {encoded_ascii}")  # Output: b'Hello, World!'

# Encode a string with special characters using UTF-8
special_string = "Hello, "
encoded_special = special_string.encode('utf-8') 
print(f"Encoded (UTF-8 with special characters): {encoded_special}")  # Output: b'Hello, \xf0\x9f\x98\x8a'

Encoded (UTF-8): b'Hello, World!'
Encoded (ASCII): b'Hello, World!'
Encoded (UTF-8 with special characters): b'Hello, \xf0\x9f\x98\x8a'

In [173]:
x=10
y="Hi welcome"
print(f"value of {x} Value of {y}")

value of 10 Value of Hi welcome

In [109]:
# Creating a translation table
trans = str.maketrans("abc", "123")

# Using the translation table
original_string = "abc def abc"
translated_string = original_string.translate(trans)

print(translated_string)  # Output: 123 def 123

123 def 123

In [3]:
# Original string
text = "Hello, world!How are you?"

# Using partition to split by the first occurrence of the separator
result = text.partition(",")

print(result)  # Output: ('Hello, ', 'world', '! How are you?')

('Hello', ',', ' world!How are you?')

In [63]:
d={}
print(d.setdefault(1,0))
print(d)
"""
print(d)
d[1]=d.setdefault(1,0) +1
d"""

0
{1: 0}

'\nprint(d)\nd[1]=d.setdefault(1,0) +1\nd'

In [67]:
#Write a program to count occurrences of all characters within a string
str1 = "Apple Aplle"
# create a result dictionary
char_dict = dict()

for char in str1:
    # add / update the count of a character
   char_dict[char] =  char_dict.setdefault(char,0) +1
    
print('Result:', char_dict)

Result: {'A': 2, 'p': 3, 'l': 3, 'e': 2, ' ': 1}

In [41]:
#Write a program to count occurrences of all words within a string
str1 = "Apple is red Apple is good for health"
# create a result dictionary
str1=str1.split()
print(str1)
word_dict = dict()

for s in str1:
    # add / update the count of a character
   word_dict[s] =  word_dict.setdefault(s,0) +1
    
print('Result:', word_dict)

['Apple', 'is', 'red', 'Apple', 'is', 'good', 'for', 'health']
Result: {'Apple': 2, 'is': 2, 'red': 1, 'good': 1, 'for': 1, 'health': 1}

In [ ]:
#counting each characters
message = 'It was a bright cold day in April.'
count = {}
for character in message:
  count.setdefault(character, 0) #count={'I':0,'t':0,' ';0}
  count[character] = count[character] + 1 #count={'I':1,'t':1, ' ';1}

print(count)

In [11]:
#counting each word
msg=input()
l=msg.split()
count = {}
for word in l:

      count.setdefault(word, 0)
      count[word] = count[word] + 1
print(count)
#print(l)

 I am fine fine am i

{'I': 1, 'am': 2, 'fine': 2, 'i': 1}

In [1]:
#counting vowels
vl=['a','e','i','o','u','A','E','I','O','U']
x=input()
vc=0
for i in x:
    if i in vl: #  ['a','e','i','o','u','A','E','I','O','U']
        vc=vc+1
print(vc)

"""
#vl=['a','e','i','o','u','A','E','I','O','U']
x=input()
vc=0
for i in x:
    if i in 'aeiouAEIOU':
        vc=vc+1
print(vc)
"""

 welcome to python

5

"\n#vl=['a','e','i','o','u','A','E','I','O','U']\nx=input()\nvc=0\nfor i in x:\n    if i in 'aeiouAEIOU':\n        vc=vc+1\nprint(vc)\n"

In [9]:
str="welcome"
n=len(str)
rstr=""
i=0
while(i<n):
    rstr=rstr+str[n-1-i]
    i=i+1

print(rstr)

emoclew

In [167]:
s1="abc"
s2="xyz"
s1.join(s2)
' '.join(s1)

'a b c'

In [ ]:
#reverse a string
str1 = "Welcome"
print("Original String is:", str1)

str1 = str1[::-1]
print("Reversed String is:", str1)

In [ ]:
#finding player with hisgest score
players={'Sachin':82,'Dravid':56,'Dhoni':90}
max=0
for k,v in players.items():
    if v>max:
        max=v
        maxkey=k

print("%s is with highest score %d"%(maxkey,max))

In [81]:
import csv
with open('file.csv', newline='') as csvfile:
     csvreader = csv.reader(csvfile)
     header = next(csvreader) # Skip the header row
     for row in csvreader:
     # Process each remaining row in the file
     # Process each remaining row in the file
         print(row)

['John', '30', 'Engineer']
['Sara', '25', 'Doctor']
['Mike', '28', 'Lawyer']

In [9]:
#%%file f1.py
import csv
with open('matches.csv', newline='') as csvfile:
    csvreader = csv.reader(csvfile)
    header = next(csvreader) # Skip the header row
    # Skip the header row
    for row in csvreader:
# Process each remaining row in the file
# Process each remaining row in the file
       print(row)

['1', '2008', 'Bangalore', '4/18/2008', 'Kolkata Knight Riders', 'Royal Challengers Bangalore', 'Royal Challengers Bangalore', 'field', 'normal', '0', 'Kolkata Knight Riders', '140', '0', 'BB McCullum', 'M Chinnaswamy Stadium', 'Asad Rauf', 'RE Koertzen', '']
['2', '2008', 'Chandigarh', '4/19/2008', 'Chennai Super Kings', 'Kings XI Punjab', 'Chennai Super Kings', 'bat', 'normal', '0', 'Chennai Super Kings', '33', '0', 'MEK Hussey', 'Punjab Cricket Association Stadium, Mohali', 'MR Benson', 'SL Shastri', '']
['3', '2008', 'Delhi', '4/19/2008', 'Rajasthan Royals', 'Delhi Daredevils', 'Rajasthan Royals', 'bat', 'normal', '0', 'Delhi Daredevils', '0', '9', 'MF Maharoof', 'Feroz Shah Kotla', 'Aleem Dar', 'GA Pratapkumar', '']
['4', '2008', 'Mumbai', '4/20/2008', 'Mumbai Indians', 'Royal Challengers Bangalore', 'Mumbai Indians', 'bat', 'normal', '0', 'Royal Challengers Bangalore', '0', '5', 'MV Boucher', 'Wankhede Stadium', 'SJ Davis', 'DJ Harper', '']
['5', '2008', 'Kolkata', '4/20/2008', 'Deccan Chargers', 'Kolkata Knight Riders', 'Deccan Chargers', 'bat', 'normal', '0', 'Kolkata Knight Riders', '0', '5', 'DJ Hussey', 'Eden Gardens', 'BF Bowden', 'K Hariharan', '']
['6', '2008', 'Jaipur', '4/21/2008', 'Kings XI Punjab', 'Rajasthan Royals', 'Kings XI Punjab', 'bat', 'normal', '0', 'Rajasthan Royals', '0', '6', 'SR Watson', 'Sawai Mansingh Stadium', 'Aleem Dar', 'RB Tiffin', '']
['7', '2008', 'Hyderabad', '4/22/2008', 'Deccan Chargers', 'Delhi Daredevils', 'Deccan Chargers', 'bat', 'normal', '0', 'Delhi Daredevils', '0', '9', 'V Sehwag', 'Rajiv Gandhi International Stadium, Uppal', 'IL Howell', 'AM Saheba', '']
['8', '2008', 'Chennai', '4/23/2008', 'Chennai Super Kings', 'Mumbai Indians', 'Mumbai Indians', 'field', 'normal', '0', 'Chennai Super Kings', '6', '0', 'ML Hayden', 'MA Chidambaram Stadium, Chepauk', 'DJ Harper', 'GA Pratapkumar', '']
['9', '2008', 'Hyderabad', '4/24/2008', 'Deccan Chargers', 'Rajasthan Royals', 'Rajasthan Royals', 'field', 'normal', '0', 'Rajasthan Royals', '0', '3', 'YK Pathan', 'Rajiv Gandhi International Stadium, Uppal', 'Asad Rauf', 'MR Benson', '']
['10', '2008', 'Chandigarh', '4/25/2008', 'Kings XI Punjab', 'Mumbai Indians', 'Mumbai Indians', 'field', 'normal', '0', 'Kings XI Punjab', '66', '0', 'KC Sangakkara', 'Punjab Cricket Association Stadium, Mohali', 'Aleem Dar', 'AM Saheba', '']
['11', '2008', 'Bangalore', '4/26/2008', 'Royal Challengers Bangalore', 'Rajasthan Royals', 'Rajasthan Royals', 'field', 'normal', '0', 'Rajasthan Royals', '0', '7', 'SR Watson', 'M Chinnaswamy Stadium', 'MR Benson', 'IL Howell', '']
['12', '2008', 'Chennai', '4/26/2008', 'Kolkata Knight Riders', 'Chennai Super Kings', 'Kolkata Knight Riders', 'bat', 'normal', '0', 'Chennai Super Kings', '0', '9', 'JDP Oram', 'MA Chidambaram Stadium, Chepauk', 'BF Bowden', 'AV Jayaprakash', '']
['13', '2008', 'Mumbai', '4/27/2008', 'Mumbai Indians', 'Deccan Chargers', 'Deccan Chargers', 'field', 'normal', '0', 'Deccan Chargers', '0', '10', 'AC Gilchrist', 'Dr DY Patil Sports Academy', 'Asad Rauf', 'SL Shastri', '']
['14', '2008', 'Chandigarh', '4/27/2008', 'Delhi Daredevils', 'Kings XI Punjab', 'Delhi Daredevils', 'bat', 'normal', '0', 'Kings XI Punjab', '0', '4', 'SM Katich', 'Punjab Cricket Association Stadium, Mohali', 'RE Koertzen', 'I Shivram', '']
['15', '2008', 'Bangalore', '4/28/2008', 'Chennai Super Kings', 'Royal Challengers Bangalore', 'Chennai Super Kings', 'bat', 'normal', '0', 'Chennai Super Kings', '13', '0', 'MS Dhoni', 'M Chinnaswamy Stadium', 'BR Doctrove', 'RB Tiffin', '']
['16', '2008', 'Kolkata', '4/29/2008', 'Kolkata Knight Riders', 'Mumbai Indians', 'Kolkata Knight Riders', 'bat', 'normal', '0', 'Mumbai Indians', '0', '7', 'ST Jayasuriya', 'Eden Gardens', 'BF Bowden', 'AV Jayaprakash', '']
['17', '2008', 'Delhi', '4/30/2008', 'Delhi Daredevils', 'Royal Challengers Bangalore', 'Royal Challengers Bangalore', 'field', 'normal', '0', 'Delhi Daredevils', '10', '0', 'GD McGrath', 'Feroz Shah Kotla', 'Aleem Dar', 'I Shivram', '']
['18', '2008', 'Hyderabad', '5/1/2008', 'Deccan Chargers', 'Kings XI Punjab', 'Kings XI Punjab', 'field', 'normal', '0', 'Kings XI Punjab', '0', '7', 'SE Marsh', 'Rajiv Gandhi International Stadium, Uppal', 'BR Doctrove', 'RB Tiffin', '']
['19', '2008', 'Jaipur', '5/1/2008', 'Rajasthan Royals', 'Kolkata Knight Riders', 'Rajasthan Royals', 'bat', 'normal', '0', 'Rajasthan Royals', '45', '0', 'SA Asnodkar', 'Sawai Mansingh Stadium', 'RE Koertzen', 'GA Pratapkumar', '']
['20', '2008', 'Chennai', '5/2/2008', 'Chennai Super Kings', 'Delhi Daredevils', 'Chennai Super Kings', 'bat', 'normal', '0', 'Delhi Daredevils', '0', '8', 'V Sehwag', 'MA Chidambaram Stadium, Chepauk', 'BF Bowden', 'K Hariharan', '']
['21', '2008', 'Hyderabad', '5/25/2008', 'Deccan Chargers', 'Royal Challengers Bangalore', 'Deccan Chargers', 'bat', 'normal', '0', 'Royal Challengers Bangalore', '0', '5', 'R Vinay Kumar', 'Rajiv Gandhi International Stadium, Uppal', 'Asad Rauf', 'RE Koertzen', '']
['22', '2008', 'Chandigarh', '5/3/2008', 'Kings XI Punjab', 'Kolkata Knight Riders', 'Kings XI Punjab', 'bat', 'normal', '0', 'Kings XI Punjab', '9', '0', 'IK Pathan', 'Punjab Cricket Association Stadium, Mohali', 'DJ Harper', 'I Shivram', '']
['23', '2008', 'Mumbai', '5/4/2008', 'Mumbai Indians', 'Delhi Daredevils', 'Delhi Daredevils', 'field', 'normal', '0', 'Mumbai Indians', '29', '0', 'SM Pollock', 'Dr DY Patil Sports Academy', 'IL Howell', 'RE Koertzen', '']
['24', '2008', 'Jaipur', '5/4/2008', 'Chennai Super Kings', 'Rajasthan Royals', 'Chennai Super Kings', 'bat', 'normal', '0', 'Rajasthan Royals', '0', '8', 'Sohail Tanvir', 'Sawai Mansingh Stadium', 'Asad Rauf', 'AV Jayaprakash', '']
['25', '2008', 'Bangalore', '5/5/2008', 'Royal Challengers Bangalore', 'Kings XI Punjab', 'Kings XI Punjab', 'field', 'normal', '0', 'Kings XI Punjab', '0', '6', 'S Sreesanth', 'M Chinnaswamy Stadium', 'SJ Davis', 'BR Doctrove', '']
['26', '2008', 'Chennai', '5/6/2008', 'Chennai Super Kings', 'Deccan Chargers', 'Deccan Chargers', 'field', 'normal', '0', 'Deccan Chargers', '0', '7', 'AC Gilchrist', 'MA Chidambaram Stadium, Chepauk', 'MR Benson', 'RB Tiffin', '']
['27', '2008', 'Mumbai', '5/7/2008', 'Rajasthan Royals', 'Mumbai Indians', 'Mumbai Indians', 'field', 'normal', '0', 'Mumbai Indians', '0', '7', 'A Nehra', 'Dr DY Patil Sports Academy', 'DJ Harper', 'RE Koertzen', '']
['28', '2008', 'Delhi', '5/8/2008', 'Delhi Daredevils', 'Chennai Super Kings', 'Chennai Super Kings', 'field', 'normal', '0', 'Chennai Super Kings', '0', '4', 'MS Dhoni', 'Feroz Shah Kotla', 'Aleem Dar', 'RB Tiffin', '']
['29', '2008', 'Kolkata', '5/8/2008', 'Kolkata Knight Riders', 'Royal Challengers Bangalore', 'Kolkata Knight Riders', 'bat', 'normal', '0', 'Kolkata Knight Riders', '5', '0', 'SC Ganguly', 'Eden Gardens', 'Asad Rauf', 'IL Howell', '']
['30', '2008', 'Jaipur', '5/9/2008', 'Deccan Chargers', 'Rajasthan Royals', 'Rajasthan Royals', 'field', 'normal', '0', 'Rajasthan Royals', '0', '8', 'YK Pathan', 'Sawai Mansingh Stadium', 'MR Benson', 'AM Saheba', '']
['31', '2008', 'Bangalore', '5/28/2008', 'Royal Challengers Bangalore', 'Mumbai Indians', 'Mumbai Indians', 'field', 'normal', '0', 'Mumbai Indians', '0', '9', 'CRD Fernando', 'M Chinnaswamy Stadium', 'BF Bowden', 'AV Jayaprakash', '']
['32', '2008', 'Chennai', '5/10/2008', 'Chennai Super Kings', 'Kings XI Punjab', 'Kings XI Punjab', 'field', 'normal', '0', 'Chennai Super Kings', '18', '0', 'L Balaji', 'MA Chidambaram Stadium, Chepauk', 'AV Jayaprakash', 'BG Jerling', '']
['33', '2008', 'Hyderabad', '5/11/2008', 'Kolkata Knight Riders', 'Deccan Chargers', 'Kolkata Knight Riders', 'bat', 'normal', '0', 'Kolkata Knight Riders', '23', '0', 'SC Ganguly', 'Rajiv Gandhi International Stadium, Uppal', 'IL Howell', 'AM Saheba', '']
['34', '2008', 'Jaipur', '5/11/2008', 'Delhi Daredevils', 'Rajasthan Royals', 'Rajasthan Royals', 'field', 'normal', '0', 'Rajasthan Royals', '0', '3', 'SR Watson', 'Sawai Mansingh Stadium', 'SJ Davis', 'RE Koertzen', '']
['35', '2008', 'Chandigarh', '5/12/2008', 'Royal Challengers Bangalore', 'Kings XI Punjab', 'Royal Challengers Bangalore', 'bat', 'normal', '0', 'Kings XI Punjab', '0', '9', 'SE Marsh', 'Punjab Cricket Association Stadium, Mohali', 'BR Doctrove', 'I Shivram', '']
['36', '2008', 'Kolkata', '5/13/2008', 'Kolkata Knight Riders', 'Delhi Daredevils', 'Kolkata Knight Riders', 'bat', 'normal', '0', 'Kolkata Knight Riders', '23', '0', 'Shoaib Akhtar', 'Eden Gardens', 'Asad Rauf', 'IL Howell', '']
['37', '2008', 'Mumbai', '5/14/2008', 'Chennai Super Kings', 'Mumbai Indians', 'Mumbai Indians', 'field', 'normal', '0', 'Mumbai Indians', '0', '9', 'ST Jayasuriya', 'Wankhede Stadium', 'BR Doctrove', 'AM Saheba', '']
['38', '2008', 'Chandigarh', '5/28/2008', 'Kings XI Punjab', 'Rajasthan Royals', 'Rajasthan Royals', 'field', 'normal', '0', 'Kings XI Punjab', '41', '0', 'SE Marsh', 'Punjab Cricket Association Stadium, Mohali', 'SJ Davis', 'K Hariharan', '']
['39', '2008', 'Delhi', '5/15/2008', 'Delhi Daredevils', 'Deccan Chargers', 'Deccan Chargers', 'field', 'normal', '0', 'Delhi Daredevils', '12', '0', 'A Mishra', 'Feroz Shah Kotla', 'BG Jerling', 'GA Pratapkumar', '']
['40', '2008', 'Mumbai', '5/16/2008', 'Kolkata Knight Riders', 'Mumbai Indians', 'Mumbai Indians', 'field', 'normal', '0', 'Mumbai Indians', '0', '8', 'SM Pollock', 'Wankhede Stadium', 'BR Doctrove', 'DJ Harper', '']
['41', '2008', 'Delhi', '5/17/2008', 'Delhi Daredevils', 'Kings XI Punjab', 'Delhi Daredevils', 'bat', 'normal', '1', 'Kings XI Punjab', '6', '0', 'DPMD Jayawardene', 'Feroz Shah Kotla', 'AV Jayaprakash', 'RE Koertzen', '']
['42', '2008', 'Jaipur', '5/17/2008', 'Rajasthan Royals', 'Royal Challengers Bangalore', 'Royal Challengers Bangalore', 'field', 'normal', '0', 'Rajasthan Royals', '65', '0', 'GC Smith', 'Sawai Mansingh Stadium', 'BF Bowden', 'SL Shastri', '']
['43', '2008', 'Hyderabad', '5/18/2008', 'Mumbai Indians', 'Deccan Chargers', 'Deccan Chargers', 'field', 'normal', '0', 'Mumbai Indians', '25', '0', 'DJ Bravo', 'Rajiv Gandhi International Stadium, Uppal', 'BR Doctrove', 'DJ Harper', '']
['44', '2008', 'Kolkata', '5/18/2008', 'Kolkata Knight Riders', 'Chennai Super Kings', 'Kolkata Knight Riders', 'bat', 'normal', '1', 'Chennai Super Kings', '3', '0', 'M Ntini', 'Eden Gardens', 'Asad Rauf', 'K Hariharan', '']
['45', '2008', 'Bangalore', '5/19/2008', 'Royal Challengers Bangalore', 'Delhi Daredevils', 'Delhi Daredevils', 'field', 'normal', '0', 'Delhi Daredevils', '0', '5', 'SP Goswami', 'M Chinnaswamy Stadium', 'SJ Davis', 'GA Pratapkumar', '']
['46', '2008', 'Kolkata', '5/20/2008', 'Kolkata Knight Riders', 'Rajasthan Royals', 'Rajasthan Royals', 'field', 'normal', '0', 'Rajasthan Royals', '0', '6', 'YK Pathan', 'Eden Gardens', 'BG Jerling', 'RE Koertzen', '']
['47', '2008', 'Mumbai', '5/21/2008', 'Kings XI Punjab', 'Mumbai Indians', 'Mumbai Indians', 'field', 'normal', '0', 'Kings XI Punjab', '1', '0', 'SE Marsh', 'Wankhede Stadium', 'BF Bowden', 'GA Pratapkumar', '']
['48', '2008', 'Chennai', '5/21/2008', 'Royal Challengers Bangalore', 'Chennai Super Kings', 'Royal Challengers Bangalore', 'bat', 'normal', '0', 'Royal Challengers Bangalore', '14', '0', 'A Kumble', 'MA Chidambaram Stadium, Chepauk', 'DJ Harper', 'I Shivram', '']
['49', '2008', 'Chandigarh', '5/23/2008', 'Deccan Chargers', 'Kings XI Punjab', 'Kings XI Punjab', 'field', 'normal', '0', 'Kings XI Punjab', '0', '6', 'SE Marsh', 'Punjab Cricket Association Stadium, Mohali', 'Asad Rauf', 'SJ Davis', '']
['50', '2008', 'Delhi', '5/24/2008', 'Mumbai Indians', 'Delhi Daredevils', 'Delhi Daredevils', 'field', 'normal', '0', 'Delhi Daredevils', '0', '5', 'KD Karthik', 'Feroz Shah Kotla', 'BF Bowden', 'K Hariharan', '']
['51', '2008', 'Chennai', '5/24/2008', 'Rajasthan Royals', 'Chennai Super Kings', 'Rajasthan Royals', 'bat', 'normal', '0', 'Rajasthan Royals', '10', '0', 'JA Morkel', 'MA Chidambaram Stadium, Chepauk', 'DJ Harper', 'SL Shastri', '']
['52', '2008', 'Bangalore', '5/3/2008', 'Royal Challengers Bangalore', 'Deccan Chargers', 'Deccan Chargers', 'field', 'normal', '0', 'Royal Challengers Bangalore', '3', '0', 'P Kumar', 'M Chinnaswamy Stadium', 'BR Doctrove', 'SL Shastri', '']
['53', '2008', 'Kolkata', '5/25/2008', 'Kings XI Punjab', 'Kolkata Knight Riders', 'Kings XI Punjab', 'bat', 'normal', '0', 'Kolkata Knight Riders', '0', '3', 'Umar Gul', 'Eden Gardens', 'SJ Davis', 'I Shivram', '']
['54', '2008', 'Jaipur', '5/26/2008', 'Mumbai Indians', 'Rajasthan Royals', 'Rajasthan Royals', 'field', 'normal', '0', 'Rajasthan Royals', '0', '5', 'Sohail Tanvir', 'Sawai Mansingh Stadium', 'BF Bowden', 'K Hariharan', '']
['55', '2008', 'Hyderabad', '5/27/2008', 'Deccan Chargers', 'Chennai Super Kings', 'Deccan Chargers', 'bat', 'normal', '0', 'Chennai Super Kings', '0', '7', 'SK Raina', 'Rajiv Gandhi International Stadium, Uppal', 'BG Jerling', 'AM Saheba', '']
['56', '2008', 'Mumbai', '5/30/2008', 'Rajasthan Royals', 'Delhi Daredevils', 'Delhi Daredevils', 'field', 'normal', '0', 'Rajasthan Royals', '105', '0', 'SR Watson', 'Wankhede Stadium', 'BF Bowden', 'RE Koertzen', '']
['57', '2008', 'Mumbai', '5/31/2008', 'Kings XI Punjab', 'Chennai Super Kings', 'Kings XI Punjab', 'bat', 'normal', '0', 'Chennai Super Kings', '0', '9', 'M Ntini', 'Wankhede Stadium', 'Asad Rauf', 'DJ Harper', '']
['58', '2008', 'Mumbai', '6/1/2008', 'Chennai Super Kings', 'Rajasthan Royals', 'Rajasthan Royals', 'field', 'normal', '0', 'Rajasthan Royals', '0', '3', 'YK Pathan', 'Dr DY Patil Sports Academy', 'BF Bowden', 'RE Koertzen', '']
['59', '2009', 'Cape Town', '4/18/2009', 'Mumbai Indians', 'Chennai Super Kings', 'Chennai Super Kings', 'field', 'normal', '0', 'Mumbai Indians', '19', '0', 'SR Tendulkar', 'Newlands', 'BR Doctrove', 'K Hariharan', '']
['60', '2009', 'Cape Town', '4/18/2009', 'Royal Challengers Bangalore', 'Rajasthan Royals', 'Royal Challengers Bangalore', 'bat', 'normal', '0', 'Royal Challengers Bangalore', '75', '0', 'R Dravid', 'Newlands', 'BR Doctrove', 'RB Tiffin', '']
['61', '2009', 'Cape Town', '4/19/2009', 'Kings XI Punjab', 'Delhi Daredevils', 'Delhi Daredevils', 'field', 'normal', '1', 'Delhi Daredevils', '0', '10', 'DL Vettori', 'Newlands', 'MR Benson', 'SD Ranade', '']
['62', '2009', 'Cape Town', '4/19/2009', 'Kolkata Knight Riders', 'Deccan Chargers', 'Kolkata Knight Riders', 'bat', 'normal', '0', 'Deccan Chargers', '0', '8', 'RP Singh', 'Newlands', 'MR Benson', 'BR Doctrove', '']
['63', '2009', 'Port Elizabeth', '4/20/2009', 'Chennai Super Kings', 'Royal Challengers Bangalore', 'Chennai Super Kings', 'bat', 'normal', '0', 'Chennai Super Kings', '92', '0', 'M Muralitharan', "St George's Park", 'BG Jerling', 'SJA Taufel', '']
['64', '2009', 'Durban', '4/21/2009', 'Kings XI Punjab', 'Kolkata Knight Riders', 'Kolkata Knight Riders', 'field', 'normal', '1', 'Kolkata Knight Riders', '11', '0', 'CH Gayle', 'Kingsmead', 'DJ Harper', 'SD Ranade', '']
['65', '2009', 'Cape Town', '4/22/2009', 'Deccan Chargers', 'Royal Challengers Bangalore', 'Deccan Chargers', 'bat', 'normal', '0', 'Deccan Chargers', '24', '0', 'AC Gilchrist', 'Newlands', 'M Erasmus', 'AM Saheba', '']
['66', '2009', 'Durban', '4/23/2009', 'Delhi Daredevils', 'Chennai Super Kings', 'Delhi Daredevils', 'bat', 'normal', '0', 'Delhi Daredevils', '9', '0', 'AB de Villiers', 'Kingsmead', 'BR Doctrove', 'SJA Taufel', '']
['67', '2009', 'Cape Town', '4/23/2009', 'Rajasthan Royals', 'Kolkata Knight Riders', 'Kolkata Knight Riders', 'field', 'tie', '0', 'Rajasthan Royals', '0', '0', 'YK Pathan', 'Newlands', 'MR Benson', 'M Erasmus', '']
['68', '2009', 'Durban', '4/24/2009', 'Royal Challengers Bangalore', 'Kings XI Punjab', 'Royal Challengers Bangalore', 'bat', 'normal', '0', 'Kings XI Punjab', '0', '7', 'RS Bopara', 'Kingsmead', 'BR Doctrove', 'TH Wijewardene', '']
['69', '2009', 'Durban', '4/25/2009', 'Deccan Chargers', 'Mumbai Indians', 'Deccan Chargers', 'bat', 'normal', '0', 'Deccan Chargers', '12', '0', 'PP Ojha', 'Kingsmead', 'HDPK Dharmasena', 'SJA Taufel', '']
['70', '2009', 'Port Elizabeth', '4/26/2009', 'Royal Challengers Bangalore', 'Delhi Daredevils', 'Royal Challengers Bangalore', 'bat', 'normal', '0', 'Delhi Daredevils', '0', '6', 'TM Dilshan', "St George's Park", 'S Asnani', 'BG Jerling', '']
['71', '2009', 'Cape Town', '4/26/2009', 'Kings XI Punjab', 'Rajasthan Royals', 'Kings XI Punjab', 'bat', 'normal', '0', 'Kings XI Punjab', '27', '0', 'KC Sangakkara', 'Newlands', 'M Erasmus', 'K Hariharan', '']
['72', '2009', 'Durban', '4/27/2009', 'Chennai Super Kings', 'Deccan Chargers', 'Deccan Chargers', 'field', 'normal', '0', 'Deccan Chargers', '0', '6', 'HH Gibbs', 'Kingsmead', 'IL Howell', 'TH Wijewardene', '']
['73', '2009', 'Port Elizabeth', '4/27/2009', 'Mumbai Indians', 'Kolkata Knight Riders', 'Mumbai Indians', 'bat', 'normal', '0', 'Mumbai Indians', '92', '0', 'SR Tendulkar', "St George's Park", 'BG Jerling', 'RB Tiffin', '']
['74', '2009', 'Centurion', '4/28/2009', 'Delhi Daredevils', 'Rajasthan Royals', 'Delhi Daredevils', 'bat', 'normal', '0', 'Rajasthan Royals', '0', '5', 'YK Pathan', 'SuperSport Park', 'GAV Baxter', 'RE Koertzen', '']
['75', '2009', 'Durban', '4/29/2009', 'Kolkata Knight Riders', 'Royal Challengers Bangalore', 'Kolkata Knight Riders', 'bat', 'normal', '0', 'Royal Challengers Bangalore', '0', '5', 'MV Boucher', 'Kingsmead', 'MR Benson', 'TH Wijewardene', '']
['76', '2009', 'Durban', '4/29/2009', 'Kings XI Punjab', 'Mumbai Indians', 'Kings XI Punjab', 'bat', 'normal', '0', 'Kings XI Punjab', '3', '0', 'KC Sangakkara', 'Kingsmead', 'MR Benson', 'SL Shastri', '']
['77', '2009', 'Centurion', '4/30/2009', 'Deccan Chargers', 'Delhi Daredevils', 'Delhi Daredevils', 'field', 'normal', '0', 'Delhi Daredevils', '0', '6', 'DP Nannes', 'SuperSport Park', 'GAV Baxter', 'AM Saheba', '']
['78', '2009', 'Centurion', '4/30/2009', 'Chennai Super Kings', 'Rajasthan Royals', 'Rajasthan Royals', 'field', 'normal', '0', 'Chennai Super Kings', '38', '0', 'SK Raina', 'SuperSport Park', 'GAV Baxter', 'RE Koertzen', '']
['79', '2009', 'East London', '5/1/2009', 'Mumbai Indians', 'Kolkata Knight Riders', 'Mumbai Indians', 'bat', 'normal', '0', 'Mumbai Indians', '9', '0', 'JP Duminy', 'Buffalo Park', 'M Erasmus', 'SK Tarapore', '']
['80', '2009', 'Durban', '5/1/2009', 'Royal Challengers Bangalore', 'Kings XI Punjab', 'Royal Challengers Bangalore', 'bat', 'normal', '0', 'Royal Challengers Bangalore', '8', '0', 'Yuvraj Singh', 'Kingsmead', 'HDPK Dharmasena', 'S Ravi', '']
['81', '2009', 'Port Elizabeth', '5/2/2009', 'Deccan Chargers', 'Rajasthan Royals', 'Deccan Chargers', 'bat', 'normal', '0', 'Rajasthan Royals', '0', '3', 'YK Pathan', "St George's Park", 'S Asnani', 'BG Jerling', '']
['82', '2009', 'Johannesburg', '5/2/2009', 'Chennai Super Kings', 'Delhi Daredevils', 'Delhi Daredevils', 'field', 'normal', '0', 'Chennai Super Kings', '18', '0', 'SB Jakati', 'New Wanderers Stadium', 'DJ Harper', 'RE Koertzen', '']
['83', '2009', 'Port Elizabeth', '5/3/2009', 'Kolkata Knight Riders', 'Kings XI Punjab', 'Kolkata Knight Riders', 'bat', 'normal', '0', 'Kings XI Punjab', '0', '6', 'DPMD Jayawardene', "St George's Park", 'S Asnani', 'MR Benson', '']
['84', '2009', 'Johannesburg', '5/3/2009', 'Mumbai Indians', 'Royal Challengers Bangalore', 'Mumbai Indians', 'bat', 'normal', '0', 'Royal Challengers Bangalore', '0', '9', 'JH Kallis', 'New Wanderers Stadium', 'RE Koertzen', 'TH Wijewardene', '']
['85', '2009', 'East London', '5/4/2009', 'Chennai Super Kings', 'Deccan Chargers', 'Chennai Super Kings', 'bat', 'normal', '0', 'Chennai Super Kings', '78', '0', 'MS Dhoni', 'Buffalo Park', 'BR Doctrove', 'M Erasmus', '']
['86', '2009', 'Durban', '5/5/2009', 'Rajasthan Royals', 'Kings XI Punjab', 'Kings XI Punjab', 'field', 'normal', '0', 'Rajasthan Royals', '78', '0', 'GC Smith', 'Kingsmead', 'SS Hazare', 'IL Howell', '']

In [2]:
%%file CLA.py
import sys

# total arguments
n = len(sys.argv)
print("Total arguments passed:", n)

# Arguments passed
print("\nName of Python script:", sys.argv[0])

print("\nArguments passed:", end = " ")
for i in range(1, n):
    print(sys.argv[i], end = " ")
    
# Addition of numbers
Sum = 0
# Using argparse module
for i in range(1, n):
    print(sys.argv[i])
    Sum += float(sys.argv[i])
    
print("\n\nResult:", Sum)

Overwriting CLA.py

In [41]:
file1 = open("C://Users//farit//test.txt", "r")     # open a file
#file1.seek(0)
lines=file1.readlines()
for line in lines:
     print(line, end="")
file1.close()                                
# close the file

Hi welcome to Python
Coding is fun
Have fun
C is core programming

In [43]:
#with open('example.txt', 'w') as file:, 
#the file variable is a reference to the file object that is returned by the open()
#function. 
'''open('example.txt', 'w'): This function call opens the file named example.txt in write 
mode ('w'). If the file does not already exist, it will be created. 
If it does exist, its contents will be truncated (erased).'''

with open('example_new.txt', 'a') as file1:
    # Write a line to the file
    
    file1.write("Hello, world!\n")
    file1.write("This is a sample text file.")
    file1.write("Have a good day")
    print("\nHello", file=file1)

In [24]:
with open('example_new.txt', 'r') as file:
    # Read the first line
    line1 = file.readline()
    print(line1)  # .strip() to remove any leading/trailing whitespace
    
    # Read the second line
    line2 = file.readline()
    print(line2)
    file.close()
    
"""    # Read the third line
    line3 = file.readline()
    print("Line 3:", line3.strip())"""

Hello, world!

This is a sample text file.Have a good day

'    # Read the third line\n    line3 = file.readline()\n    print("Line 3:", line3.strip())'

In [71]:
import csv
with open('file.csv', newline='') as csvfile:
    csvreader = csv.reader(csvfile)
    print(csvreader)
    header=next(csvreader)
    print(header)
    #print(list(csvreader))
    #print(csvreader)   
    for row in csvreader:
       #print(row)
       print(f"Name: {row[0]}, Age: {row[1]}, Occupation: {row[2]}")

<_csv.reader object at 0x0000015F36CD3AC0>
['Name', 'Age', 'Occupation']
Name: John, Age: 30, Occupation: Engineer
Name: Sara, Age: 25, Occupation: Doctor
Name: Mike, Age: 28, Occupation: Lawyer

In [77]:
import csv
ec=0
with open('file1.csv', newline='') as csvfile:
    csvreader = csv.DictReader(csvfile)
    for row in csvreader:
       #print(row)
       
       if row['Occupation'] == 'Engineer':
           ec=ec+1
           print(f"Name: {row['Name']}, Age: {row['Age']}, Occupation: {row['Occupation']}")

print("Engineer Count:",ec)

Name: John, Age: 30, Occupation: Engineer
Name: Kiyara, Age: 40, Occupation: Engineer
Name: Jill, Age: 34, Occupation: Engineer
Engineer Count: 3

In [86]:
import csv
with open('file.csv', newline='') as csvfile:
    csvreader = csv.reader(csvfile)
    header = next(csvreader) 
    for row in csvreader:
         print(row)
    #print(csvreader)

['John', '30', 'Engineer']
['Sara', '25', 'Doctor']
['Mike', '28', 'Lawyer']

In [85]:
 import csv
 with open('output.csv', 'w', newline='') as csvfile:
     csvwriter = csv.writer(csvfile)
     csvwriter.writerow(['Name', 'Age', 'Occupation'])
     csvwriter.writerow(['Arun', 45, 'Director'])
     csvwriter.writerows([
     ['John', 30, 'Engineer'],
     ['Sara', 25, 'Doctor'],
     ['Mike', 28, 'Lawyer'],
     ['Arun', 23, 'Software Engineer']
         ])
 csvfile.close()
 with open('output.csv', 'r+', newline='') as csvfile:
     csvreader = csv.reader(csvfile)
     header=next(csvreader)
     csvwriter = csv.writer(csvfile)
     csvwriter.writerow(['Arun Kumar', 45, 'CEO'])

csvfile.close()

In [89]:
 import csv
 data = [
 {'Name': 'John', 'Age': 30, 'Occupation': 'Engineer'},
 {'Name': 'Sara', 'Age': 25, 'Occupation': 'Doctor'},
 {'Name': 'Sara', 'Age': 25, 'Occupation': 'Doctor'},
 {'Name': 'Mike', 'Age': 28, 'Occupation': 'Lawyer'}
 ]
 with open('output12.csv', 'w', newline='') as csvfile:
     header = ['Name', 'Age', 'Occupation']
     csvDictWriter = csv.DictWriter(csvfile, fieldnames=header)
     csvDictWriter.writeheader()
     csvDictWriter.writerows(data)

In [91]:
 import csv
 n=int(input("enter no of Employees"))
 data={}
 L_data=[]
 for i in range(n):
     data={}
     id=input("Enter id")
     name=input("Enter Name")
     Occ=input("Enter Occupation")
     sal=float(input("Enter salary"))
     data["ID"]=id
     data["Name"]=name
     data["Occupation"]=Occ
     data["Salary"]=sal
     L_data.append(data)
 
 with open('output_new.csv', 'w', newline='') as csvfile:
     fieldnames = ["ID",'Name','Occupation',"Salary"]
     csvDictWriter = csv.DictWriter(csvfile, fieldnames=fieldnames)
     csvDictWriter.writeheader()
     csvDictWriter.writerows(L_data)

enter no of Employees 2
Enter id 1
Enter Name Ragu
Enter Occupation Engineer
Enter salary 123456
Enter id 3
Enter Name Ravi
Enter Occupation CEO
Enter salary 12436789900

In [16]:
file1 = open("C://Users//farit//test.txt", "r")     # open a file
lines = file1.readlines()    # read the file  print(read_content)
print(lines)
print(len(lines))

file1.close()                                
# close the file

['Hi welcome to Python\n', 'Coding is fun']
2

In [93]:
import csv
c = 0
mc=0
with open('matches1.csv') as file:
    csvFile = csv.reader(file)
    #print(type(csvFile), csvFile)
    for lines in csvFile:
         if lines[0] == "2006":
            c = c+1
         if lines[3] == "MI":
            mc = mc+1
file.closed
print(c)
print(mc)

3
2

In [3]:
import csv
c = 0
mc=0
with open('../emp1.csv') as file:
    csvFile = csv.reader(file)
    #print(type(csvFile), csvFile)
    header=next(csvFile)
    for lines in csvFile:
       print(lines)
       
file.closed
#print(c)

['Farida', 'PRofessor', '100000']
['Aruna', 'Associate', '20000']

True

In [5]:
import csv
c = 0
mc=0
with open('matches1.csv') as file:
    csvFile = csv.reader(file)
    header = next(csvFile) 
    #print(type(csvFile), csvFile)
    for lines in csvFile:
       #s1.add(lines[1])
       if lines[0] == "2006":
        c = c+1
       if lines[3] == "MI":
        mc = mc+1
       #print(lines)
print("2006 matches count = %d" % c)     
print("MI winning matches count = %d" % mc) 
file.closed

2006 matches count = 3
MI winning matches count = 2

True

In [5]:
import csv
c = 0
dc=0
lc=0
s=0
with open('emp.csv') as file:
    csvFile = csv.reader(file)
    header = next(csvFile) 
    #print(type(csvFile), csvFile)
    for lines in csvFile:
       #s1.add(lines[1])
       if lines[2] == "Engineer":
        c = c+1
       if lines[4] == "CSE":
        dc = dc+1
       s=s+float(lines[3])
       #print(lines)
       lc=lc+1
    
    avesal= s/lc
    file.seek(0)   
    csvFile = csv.reader(file)
    header = next(csvFile) 
    print("Average Salary=%f"% avesal)
    for lines in csvFile:
        if int(lines[3]) > avesal:
            print(lines[0],lines[1],lines[3])
        
print("Engineers count = %d" % c)     
print("CSE dept Employees count = %d" % dc) 
file.closed

Average Salary=105826.800000
113 Charitha 120000
115 Ravi 234567
Engineers count = 2
CSE dept Employees count = 4

True

In [9]:
def hello():
    print("Hello")

In [11]:
hello()
hello()

Hello
Hello

In [17]:
def display():
    print("hello")

display()
disp1=display
del display
disp1()

hello
hello

In [21]:
def pro(a,b):
    print(a*b)

print(pro(10,20))

200
None

In [35]:
def sum(a,b):
    return a+b

s=sum(4,5)
print("sum=%d" % s)
print("sum1=%d" % sum(20,34))

sum=9
sum1=54

In [11]:
def display():
    print("Hello");print("Python")

display()

display1=display
del display
display1()
display1()

Hello
Python
Hello
Python
Hello
Python

In [11]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f
n=int(input("enter a number"))
facto=fact(n)
print("Fact=%d" % facto)

enter a number 6

Fact=720

In [21]:
def fibonacci(n):
    f1=0
    f2=1
    print(f1,f2,sep=" ",end=" ")
    for i in range(0,n):
        f3=f1+f2
        print(f3,end=' ')
        f1=f2
        f2=f3

fibonacci(int(input("enter a number")))

enter a number 45

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903

In [1]:
def func1(*v):
    s=0
    for i in v:
        s=s+i
    print(s)
    print(type(v))

func1(20, 40, 60)
func1(80, 100)
func1()

120
<class 'tuple'>
180
<class 'tuple'>
0
<class 'tuple'>

In [52]:
def func1(*arg):
    if len(arg) >0:
        if str(arg[0]).isalpha():
            s=""
        elif str(arg[0]).isdigit():
            s=0  
        for i in arg:
            s=s+i
        print(s)
        #print(type(arg))
func1("hI", "WELCOME","to Python")
func1(80, 100,20,45,234.5)
func1('a','b','c')
func1()

hIWELCOMEto Python
479.5
abc

In [58]:
def func1(a,*arg,b):
    print(a,b)
    if len(arg) >0:
        if str(arg[0]).isalpha():
            s=""
        elif str(arg[0]).isdigit():
            s=0  
    
        for i in arg:
            s=s+i
        print(s)
        print(type(arg))

func1(10, "hI", "WELCOME",12)
func1(80, 100)
func1('a','b','c')
func1()

TypeError: func1() missing 1 required keyword-only argument: 'b'

In [56]:
def f1(**kwarg):
    print(kwarg, type(kwarg)) #kwarg is of type dict
    #print(kwarg, type(kwarg)) #kwarg is of type dict
    for i in kwarg:
         print(i,end=" ")
    print()
    for i in kwarg.keys():
       print(i,end=" ")
    print()
    for i in kwarg.values():
       print(i,end=" ")
   
f1(a=["m",2],n=1,o=6)

{'a': ['m', 2], 'n': 1, 'o': 6} <class 'dict'>
a n o
a n o
['m', 2] 1 6

In [9]:
def f1(**kwar):
     print(kwar, type(kwar)) #kwarg is of type dict
     #print(kwar, type(kwar)) #kwarg is of type dict
     for i in kwar:
         print(i,end=" ")
     print()
     for i in kwar.keys():
         print(i,end=" ")
     print()
     for i in kwar.values():
         print(i,end=" ")
f1(a=2,b=1,c=6)

{'a': 2, 'b': 1, 'c': 6} <class 'dict'>
a b c
a b c
2 1 6

In [33]:
def stud_fun(L):
    t=0
    for i in range(0,5):
        t=t+L[i]
    return t,t/5


n=int(input("Enter no of students"))
for i in range(0,n):
    l=[]
    name=input("Students name=")
    for j in range(0,5):
        x=float(input("Enter mark"))
        l.append(x)
    re=stud_fun(l)
    print("%s students total is %f and Average is %f" % (name,re[0],re[1]))

Enter no of students 2
Students name= Rani
Enter mark 45
Enter mark 67
Enter mark 89
Enter mark 45
Enter mark 67

Rani students total is 313.000000 and Average is 62.600000

Students name= Tina
Enter mark 45
Enter mark 78
Enter mark 90
Enter mark 99
Enter mark 67

Tina students total is 379.000000 and Average is 75.800000

In [65]:
def f1():			#added to symbol table
	print("in f1")
	return "Cool day"
def f1(x):	# since the functions have same name, the function above is replaced with this in the symbol       
                #table with parameters added
   print("f1 is",x)

#f1()		#Error
f1("pes")

f1 is pes

In [67]:
def f1():
	print("in f1")
k=f1()
print(f1)		#prints function address. This is not a call
print(k)

in f1
<function f1 at 0x000001CF7F8B2AC0>
None

In [3]:
x=10
print("global first outside",x)
def f1():
    x=11
    #local variable x.
    #Life and scope is only within this function
    print("inside",x)
f1()
print("global second outside",x)

global first outside 10
inside 11
global second outside 10

In [15]:
y=20
def sum(a,b):
    print(a+b)
    global y
    y=y+1
    print(y)
print(y)
print(sum(10,20))
print(y)

20
30
21
None
21

In [11]:
x=10
print("global first outside",x)
def f1():
    global x
    x=x+1
    print(x)
    x=20
    #Life and scope is only within this function
    print("inside",x)
f1()
print("global second outside",x)

global first outside 10
11
inside 20
global second outside 20

In [19]:
x=10    
print("global first outside",x)
def f1():
	x=x+1		#Syntax Warning in 3.5.2
				# Error in 3.6.2
				#Hoisting happens here
	global x
	print("inside",x)
f1()
print("global second outside",x)

global first outside 10

SyntaxError: name 'x' is used prior to global declaration (1434439608.py, line 7)

In [35]:
# scope:
#	where we can access; visibility
# life:
#	existence of the variable
#	When the variable is created and when it will die
a = 100
e = 600
f = 700

h = 1111
def check() :
	print(a) # 100 # global variable
	print(b) # 200
	c = 30 # local variable
	if c == 30 :
		d = 40
	else:
		d = 50
	print(d) # ok; d is local to the function; no concept of local to a suite of 
	# a control structure
	e = 60 # local variable
	# cannot directly modify a global variable
	# to access the global variable, for its value, nothing is required
	# to modify a global variable, we should declare that it is global
	global f
	f = f+30
	print(f) #730
	


b = 200
check()
#print(c) # not defined
print(e) # 600
print(f) # 730

100
200
40
730
600
730

In [93]:
f1()			# f1 not available in symbol table. So it is an error
def f1():
	print("in f1")
	return "Cool day"

in f1
in f2

In [39]:
def f1(a,b):	
	print(a+b)

f1(2,b=3,a=7)   #TypeError
f1(2,b=7)		# a is positional argument, b is keyword argument
f1(2,a=7)    #TypeError
#f1(a=7,2)   #SyntaxError: positional argument follows keyword argument

TypeError: f1() got multiple values for argument 'a'

In [5]:
def f1(*arg):
	print(arg)
	print(type(arg))	#tuple
	print(*arg)	#pass starred argument to any function, it does unpacking.
				#see below code too.
	#print(type(*arg))	#  *arg becomes 1 2 3 4 , type cannot take more than 1 argument
f1(1,2,3,4)
f1({1:11,2:22},{3:33,4:44})
f1({1:11,2:22,3:33,4:44})

(1, 2, 3, 4)
<class 'tuple'>
1 2 3 4
({1: 11, 2: 22}, {3: 33, 4: 44})
<class 'tuple'>
{1: 11, 2: 22} {3: 33, 4: 44}
({1: 11, 2: 22, 3: 33, 4: 44},)
<class 'tuple'>
{1: 11, 2: 22, 3: 33, 4: 44}

In [17]:
x=13
def f1(a,b=x):		#at the time of leader processing, whatever the value at x is fixed
	print(a,b)
x=15
f1(4)
def f2(a,b=x):		#at the time of leader processing, whatever the value at x is fixed
	print(a,b)
f2(4)

4 13
4 15

In [25]:
def f1(a,b=10):   #default value for b is 10	
	b=a+b
	print(b)
f1(2,3)
f1(2)
f1(a=2)
f1(b=13,a=9)
f1(b=20,11)

SyntaxError: positional argument follows keyword argument (3622173874.py, line 8)

In [32]:
x=[23,45,89]
def f1(y):
	y=[22,33]
	print("inside function",y);print(id(y))

print("beginning outside",x)
f1(x)
print("Later outside",x)
print(id(x))

beginning outside [23, 45, 89]
inside function [22, 33]
2071184122624
Later outside [23, 45, 89]
2071184127360

In [38]:
x=[23,45,89]
def f1(y):
    print(id(y)); y.append(78);	print("inside function",y);print(id(y))

print("beginning outside",x)
f1(x)
print("Later outside",x)
print(id(x))

beginning outside [23, 45, 89]
2071176219008
inside function [23, 45, 89, 78]
2071176219008
Later outside [23, 45, 89, 78]
2071176219008

In [44]:
x=[23,45,89]
def f1(y):
    print(id(y));y=y+[99]; 	print("inside function",y);print(id(y))

print("beginning outside",x)
f1(x)
print("Later outside",x)
print(id(x))

beginning outside [23, 45, 89]
2071176212416
inside function [23, 45, 89, 99]
2071184087680
Later outside [23, 45, 89]
2071176212416

In [46]:

x=[23,45,89]
def f1(y):
	print(id(y))
	y+=[99]		# changes the id of y
	print(id(y))
	print("inside function",y)
print("beginning outside",x)
f1(x)		
print("Later outside",x)	#x is not changed
print(id(x))

beginning outside [23, 45, 89]
2071154364992
2071154364992
inside function [23, 45, 89, 99]
Later outside [23, 45, 89, 99]
2071154364992

In [62]:
x=[23,45,89]
def f1(y):
	print(id(y))
	y+=[22,33]
	print(id(y))	#no change in id of y. same as y above and x outside
	print("inside function",y)
print("beginning outside",x)
f1(x)
print("Later outside",x) #x is affected
id(x)

beginning outside [23, 45, 89]
1862084892416
1862084892416
inside function [23, 45, 89, 22, 33]
Later outside [23, 45, 89, 22, 33]

1862084892416

In [50]:
l=[1,2,2,3]
print(id(l[1]))
print(id(l[2]))

140711423755080
140711423755080

In [56]:
x=10
y=10
print(id(x))
id(y)

140711423755336

140711423755336

In [108]:
x=12
def f1(a,b=x):		#at the time of leader processing, whatever the value at x is fixed
	print(a,b)
x=15
f1(4)

4 12

In [110]:
def f1(a,b=[]):
	b.append(a)
	print(b)
f1(2)
f1(22)
f1(33)
f1(12,[3,4])
f1(25)
f1(45,[5,6,7,8])

[2]
[2, 22]
[2, 22, 33]
[3, 4, 12]
[2, 22, 33, 25]
[5, 6, 7, 8, 45]

In [112]:
def f1(a,b=[]):
	b=b+[a]
	print(b)
f1(2)
f1(22)
f1(33)
f1(12,[3,4])
f1(25)
f1(45,[5,6,7,8])

[2]
[22]
[33]
[3, 4, 12]
[25]
[5, 6, 7, 8, 45]

In [72]:
def f1():
	print("in f1")
	f2()
def f2():
	print("in f2")
f1()

in f1
in f2

In [74]:
def f1():
	print("in f1")
	f2()
f1()		#Error
def f2():
	print("in f2")

in f1
in f2

In [114]:
def f1():
	print("in f1")
	f2()
def f2():
	return "Hello"
f1()
print(f1())

in f1
in f1
None

In [116]:
def f1():
	print("in f1")
	x=f2(); return x

def f2():
	return "Hello"
f1()
print(f1())

in f1
in f1
Hello

In [89]:
def f1():
	print("in f1")
	x=f2(); return x

def f2():
	return "Hello"
    
print(f1())
print(f1())

in f1
Hello
in f1
Hello

In [91]:
def f1():
	print("in f1")
	return f2()
def f2():
	print("in f2")
print(f1())

in f1
in f2
None

In [19]:
#finding a word in sentence which has all the vowels
def all_vowel_count(st):
    v={'a':0,'e':0,'i':0,'o':0,'u':0}
    #print(st)
    for i in st:
        i=i.lower()
        if i in "aeiou":
            v[i]=v.setdefault(i,0)+1 # v[i]=v[i]+1 #vi[i]=v.get(i) +1
            
    #print(v)
    if (v['a'] > 0 and v['e'] > 0 and v['i'] > 0 and v['o'] > 0 and v['u'] > 0):
        return True
    else:
        return False
        
s="Hi aeirou is vowels list. Good to do coding aeiou is vowels in english"
ls=s.split()
for word in ls:
    vc=all_vowel_count(word)
    if vc== True:
        print(word)

aeirou
aeiou

In [37]:
#finding vowel count for each word in sentence 
def vowel_count(st):
    vc=0
    for i in st:
        if i in "aeiouAEIOU":
            vc=vc+1
    return vc 
s="Hi aeirou is vowels list. Good to do coding"
ls=s.split()
for word in ls:
    vc=vowel_count(word)
    print(word,vc)

Hi 1
aeirou 5
is 1
vowels 2
list. 1
Good 2
to 1
do 1
coding 2

In [10]:
def fact(n):
    # Base case: 
    if n == 0:
        return 1
    else:
        # Recursive case: 
        return n * fact(n - 1)
        
n=int(input("Enter value of n"))
print(f"factorial of {n} is {fact(n)}")

Enter value of n 5

factorial of 5 is 120

In [28]:
def fact(n):
     # Recursive case: 
     return n * fact(n - 1)
        
n=int(input("Enter value of n"))
print(f"factorial of {n} is {fact(n)}")

Enter value of n 7

RecursionError: maximum recursion depth exceeded

In [1]:
def sum(n):
    # Base case: 
    if n == 1:
        return 1
    else:
        # Recursive case:
        return n + sum(n - 1)
        
n=int(input("Enter value of n"))
print(f"sum of {n} is {sum(n)}")

Enter value of n 5

sum of 5 is 15

In [5]:
#generation of particular fibonacci no
def fibonacci(n):
    # Base case: Fibonacci of 0 is 0, and Fibonacci of 1 is 1
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        # Recursive case: Fibonacci(n) = Fibonacci(n-1) + Fibonacci(n-2)
        return fibonacci(n - 1) + fibonacci(n - 2)

# Example usage:
n=int(input("Enter value of n"))
print(f"Fibonacci of {n} is {fibonacci(n)}")

Enter value of n 15

Fibonacci of 15 is 610

In [19]:
#generation of particular fibonacci no
def fibonacci(n):
    # Base case: Fibonacci of 0 is 0, and Fibonacci of 1 is 1
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        # Recursive case: Fibonacci(n) = Fibonacci(n-1) + Fibonacci(n-2)
        return fibonacci(n - 1) + fibonacci(n - 2)

# Example usage:
n=int(input("Enter value of n"))
for i in range(n+1):
    print(fibonacci(i),end=' ')

Enter value of n 45

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169

KeyboardInterrupt:

In [9]:
def string_length(s):
    # Base case: if the string is empty, its length is 0
    if s == "":
        return 0
    else:
        # Recursive case: 1 + the length of the rest of the string
        print(s[1:])
        return 1 + string_length(s[1:])

# Example usage:
input_string = input("enter a string")
print(f"The length of the string '{input_string}' is {string_length(input_string)}")

enter a string Hi welocme to Python

i welocme to Python
 welocme to Python
welocme to Python
elocme to Python
locme to Python
ocme to Python
cme to Python
me to Python
e to Python
 to Python
to Python
o Python
 Python
Python
ython
thon
hon
on
n

The length of the string 'Hi welocme to Python' is 20

In [7]:
def power(a,b):
    if b==1:
        return a
    else:
        return a*power(a,b-1)
        
a=int(input("Enter number"))
b=int(input("Enter exponent"))
print(power(a,b))

Enter number 3
Enter exponent 4

81

In [9]:
def product(a,b):
    if b==0:
        return 0
    else:
        return a+product(a,b-1)
        
a=int(input("Enter number"))
b=int(input("Enter number"))
print(product(a,b))

Enter number 4
Enter number 5

20

In [35]:
def gcd(m,n): #Recursive Function
     if m == n:#terminatingcondition
         return m
     elif m > n :
         return gcd(m-n, n)
     else:
         return gcd(m,n-m)
     
    
print("GCD : ",gcd(505, 120))

GCD :  5

In [86]:
def gcd(m,n): #Recursive Function
    while True:
       if m>n:
        m=m-n
       elif n>m:
        n=n-m
       else:
        return m
    
print("GCD : ",gcd(5, 10))

GCD :  5

In [24]:
def string_length(s):
    # Base case: if the string is empty, its length is 0
    if s == "":
        return 0
    else:
        # Recursive case: 1 + the length of the rest of the string
        print(s[1:])
        return 1 + string_length(s[:-1])

# Example usage:
input_string = input("enter a string")
print(f"The length of the string '{input_string}' is {string_length(input_string)}")

enter a string welcome

elcome
elcom
elco
elc
el
e

The length of the string 'welcome' is 7

In [13]:
def sumofnatural(n):
    # Base case: if n is 0, the sum is 0
    if n == 0:
        return 0
    else:
        # Recursive case: Sum(n) = n + Sum(n-1)
        return n + sumofnatural(n - 1)

# Example usage:
n = 5
print(f"The sum of the first {n} natural numbers is {sumofnatural(n)}")

The sum of the first 5 natural numbers is 15

In [1]:
def hello():
    print("hello")
    hello()
    

hello()

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

RecursionError: maximum recursion depth exceeded while calling a Python object

In [18]:
def f1(n):
    s=230
    print(n,s);
    f1()
    
    return
s=256
f1(s)

256 230

In [23]:
def TowerOfHanoi(n , src, aux, dest):  #Recursive Function
    if  n==1:                        #terminating condition
      print ("Move disk 1 from source",src,"to destination",dest) 
      return
    TowerOfHanoi(n-1, src, dest, aux)
    print ("Move disk",n,"from source",src,"to destination",dest)
    TowerOfHanoi(n-1, aux, src, dest)
    
n=int(input("Enter number of disks\n")) 
TowerOfHanoi(n,'A','B','C')

Enter number of disks
 4

Move disk 1 from source A to destination B
Move disk 2 from source A to destination C
Move disk 1 from source B to destination C
Move disk 3 from source A to destination B
Move disk 1 from source C to destination A
Move disk 2 from source C to destination B
Move disk 1 from source A to destination B
Move disk 4 from source A to destination C
Move disk 1 from source B to destination C
Move disk 2 from source B to destination A
Move disk 1 from source C to destination A
Move disk 3 from source B to destination C
Move disk 1 from source A to destination B
Move disk 2 from source A to destination C
Move disk 1 from source B to destination C

In [49]:
def divide(x, y): 
    if(x < y):
       return 0 
    else:
     return 1 + divide(x- y,y)
print("Result:", divide(45, 7))

Result: 6

In [53]:
def multiply(x):
     return x[0]*x[1]

def compute(func,x):
 return func(x)

num_list=[2,3] 
product=compute(multiply,num_list) 
print("Multiplication=",product)

Multiplication= 6

In [2]:
def multiply(x,y):
     return x*y
def div(x,y):
     return x/y
def add(x,y):
     return x+y
def sub(x,y):
     return x-y

def compute(func,x,y):
 return func(x,y)

num1=int(input("enter a number 1"))
num2=int(input("enter a number 2"))
op=input("Enter + or - or * or /")
if op=='+':
    sum=compute(add,num1,num2) 
    print("Sum=",sum)
elif op=='-':
    dif=compute(sub,num1,num2) 
    print("Difference=",dif)
elif op=='*':
    product=compute(multiply,num1,num2) 
    print("Multiplication=",product)
else:
    quo=compute(div,num1,num2) 
    print("Quotient=",quo)

enter a number 1 4
enter a number 2 5
Enter + or - or * or / -

Difference= -1

In [ ]:
 def function(func_list, x, y):
     print("Inside function")
     for func in func_list:
         func(x,y)

In [13]:
%%file sentiment.py
 f=open("feedback.txt")
 r=f.readlines()
 print(r)
 a=["service","price","quality"]
 gr=["excellent","great,","satisfied","happy"]
 br=["poor","bad","disappointed","unsatisfied"]
 ac=0
 gc=0
 bc=0
 bl=[]
 gl=[]
 for i in r:
     w=i.split()
     for j in w:
         if j in a:
             ac= ac+1
         elif j in gr:
             gl.append(i)
             gc=gc+1
         elif j in br:
             bl.append(i)
             bc=bc+1
         else:
             continue
 print("Number of keyword counts = ",ac+gc+bc)
 print("Number of positive keyword counts = ",gc)
 print("Number of negative keyword counts = ",bc)
 print("Positive feedback:")
 for k in gl:
     print(k,end='\n')
     print("Negative feedback")
 for fi in bl:
     print(fi,end='\n')
 f.close()

Writing sentiment.py

In [21]:
-2<<1

-4

In [23]:
-2>>1

-1

In [25]:
32|1

33

In [27]:
-7>>1

-4

In [49]:
num=23
if ++num:
    print(num)
    num=num+1
print(num)

23
24

In [45]:
num=8
num++
#1++num

SyntaxError: invalid syntax (729601961.py, line 2)

In [55]:
print(5 or 4 and 7)

5

In [57]:
5**3**2

1953125

In [61]:
5*2/4//2

1.0

In [1]:
import math
def is_prime(n):
    f=0
    for i in range(2,int(math.sqrt(n))+1):
        if n%i == 0:
            f=1
            break
    return f
n=int(input("Enter a number"))
x=is_prime(n)
if x == 0:
    print("Prime")
else:
    print("not Prime")

Enter a number 45

not Prime

In [ ]:
import math
def is_prime(n):
    f=0
    for i in range(2,int(math.sqrt(n))+1):
        if n%i == 0:
            f=1
            break   
    return f
    
n=int(input("Enter a number"))
x=is_prime(n)
if x == 0:
    print("Prime")
else:
    print("not Prime")

In [17]:
import math
def is_prime(n):
    f=0
    for i in range(2,int(math.sqrt(n))+1):
        if n%i == 0:
            f=1
            break
    return f
m=int(input("Enter a number"))
n=int(input("Enter a number"))
for i in range(m, n+1):
    x=is_prime(i)
    if x == 0:
        print(i,end=" ")

Enter a number 15
Enter a number 20

17 19

In [21]:
n=int(input("Enter a number"))

for i in range(2,int(math.sqrt(n))+1):
      if n%i == 0:
        print("not prime")
        break  
else:
    print("Prime")

Enter a number 3

Prime

In [51]:
s="welcomet"
s=list(s)
s1=[0]*len(s)
j=0
print(s)
for i in range(0,len(s)+1,2):
    if i < len(s):
        s1[j]=s[i+1]
        s1[j+1]=s[i]
        j+=2
        print(str(s1))
s2=str(s1)
print(s1)

['w', 'e', 'l', 'c', 'o', 'm', 'e', 't']
['e', 'w', 0, 0, 0, 0, 0, 0]
['e', 'w', 'c', 'l', 0, 0, 0, 0]
['e', 'w', 'c', 'l', 'm', 'o', 0, 0]
['e', 'w', 'c', 'l', 'm', 'o', 't', 'e']
['e', 'w', 'c', 'l', 'm', 'o', 't', 'e']

In [3]:
_x=10

In [1]:
print(2*(4//2)**3)

16

In [3]:
print(0 in 1010101)

TypeError: argument of type 'int' is not iterable

In [7]:
def show_message(msg="sookshm", msgs = []):
    msgs.append(msg)
    return msgs

show_message()
show_message("ingenious")
print(show_message("visionary"))

SyntaxError: invalid non-printable character U+00A0 (3187752983.py, line 2)

In [23]:
 def add(x, y): #Recursive Function 
    if(y == 0): #terminatingcondition
        return x
    return add(x+1, y- 1) 

 print("Sum =", add(10, 20))

Sum = 30

In [29]:
 def add(x, y): #Recursive Function 
    if(y == 0): #terminatingcondition
        return x
    return 1+add(x, y- 1) 

 print("Sum =", add(5, 2))

Sum = 7

In [12]:
def subtract(x, y): #Recursive Function 
    if(y == 0):     #terminating condition
         return x
    return subtract(x-1, y-1)
    
print("Result =", subtract(10,20))

Result = -10

In [14]:
def product(a,b): #Recursive Function 
	if(a<b):
 		return product(b,a) 
	elif(b!=0):
 		return(a+product(a,b-1)) 
	else:
 		#Stopping point
 		return 0
 
print("Product =",product(10,20))

Product = 200

In [19]:
def divide(x, y): 
	if(x < y):   #terminating condition
 		return 0 
	else:  #Recursive Function 
 		return 1 + divide(x- y,y)

print("Result:", divide(20, 5))

Result: 4

In [ ]:
def find_me(a,n):
	if not a:		#empty data structure is False
					#Non-Empty data sturcture is True
					#Non-zero value is True
		return False
	elif a[0]==n:
		return True
	else:
		return find_me(a[1:],n)	#write the diagram

a=[12,34,33,45]
n=int(input("Enter number to search"))
print(find_me(a,n))

In [23]:
def process_data(data, c):
     result = [d * 2 for d in data]
     c(result)      
                    # Call the callback function with the result
def print_result(res):
     print("Processed data:", res)
     
data = [1, 2, 3]
process_data(data, print_result)

Processed data: [2, 4, 6]

In [25]:
"welcome".upper()

'WELCOME'

In [48]:
def outer(msg):
    x=10
    def inner():
        print(msg)
        nonlocal x
        x=x+10
        print(x)
    return inner

ano_var_inner=outer("Hi welcome")
ano_var_inner()
ano_var_inner()

Hi welcome
20
Hi welcome
30

In [62]:
x=10
def f():
    global x
    print(x)
    x=x+20
    print(x)
def f1():
    print(x)

f()
print(x)
f1()

10
30
30

In [50]:
def outer(msg):
    x=10
    def inner():
        z=20
        print(msg)
        print(x)
    print(z)
    return inner

ano_var_inner=outer("Hi welcome")
ano_var_inner()
#ano_var_inner()

NameError: name 'z' is not defined

In [ ]:
# Python program to illustrate functions 
# can be passed as arguments to other functions 
def shout(text): 
    return text.upper() 

def whisper(text): 
    return text.lower() 

def greet(func): 
    # storing the function in a variable 
    greeting = func("""Hi, I am created by a function passed as an argument.""") 
    print (greeting) 

greet(shout) 
greet(whisper)

In [30]:
def func1():
    def func2():
        print("Welcome")
    #func2()
    return func2
#func1()
x=func1()
x()

Welcome

In [5]:
 def f1(): #outer function
     def f2(): #inner function
         print ("Hello")
         print ("world")
     print('f2=',id(f2))
     return f2
     
 c=f1() #refers to f2()
 c()
 print('c=',id(c)) #id of f2() and c() are same

f2= 2723412272096
Hello
world
c= 2723412272096

In [3]:
def division(y): #outer function
     def divide(x): #inner function
         return x/y
     return divide
 
d1=division(2) #refers to divide
d2=division(3) #refers to divide
print(d1(20))
print(d2(96))

10.0
32.0

In [1]:
 def f1(): #outer function
     def f2(): #inner function
         print ("Hello")
         print ("world")
     return f2
  #refers to f2()
 del f1
 c=f1()
 c() #still work

NameError: name 'f1' is not defined

In [3]:
'''The nonlocal keyword is used in Python to refer to a variable in the nearest enclosing 
scope (excluding global scope). When a variable is declared as nonlocal, 
Python will search for that variable in the enclosing scope and allow the function to
modify it. This is different from using global, which refers to variables in the 
global scope.'''
def outer_function():
    x = 10  # x is in the enclosing scope

    def inner_function():
        nonlocal x  # Refers to x from outer_function
        x = 20  # Modifies x from outer_function's scope
        print(f"Inner function: x = {x}")

    inner_function()
    print(f"Outer function: x = {x}")

outer_function()

Inner function: x = 20
Outer function: x = 20

In [72]:
import math
def calculate(f):              #decorator function
     def inner1(*args):    #*args is variable length argument
         print("Decorator")
         f(*args)     # this is being decorated by decorator
         print("**************")
     return inner1
@calculate
def factorial(num): #factorial() getting decorated
     print(math.factorial(num)) 

factorial(10)

Decorator
3628800
**************

In [74]:
import math
def calculate(f):              #decorator function
     def inner1(args):    #*args is variable length argument
         print("Decorator")
         f(args)     # this is being decorated by decorator
         print("**************")
     return inner1
@calculate
def factorial(num): #factorial() getting decorated
     print(math.factorial(num)) 

factorial(10)

Decorator
3628800
**************

In [9]:
def div (a,b):
    print(a/b)

def smart_div(func):
    def inner(a,b):
        if a<b:
            a,b=b,a
        return func(a,b)
    return inner

f=smart_div(div)
f(10,20)

2.0

In [11]:
#decorators
def func_decorator(func):
     def inner_func():
         print("Hello, before the function is called")
         func()
         print("Hello, after the function is called")
     
     return inner_func
    
def func_hello():
     print("Inside Hello function")
hello = func_decorator(func_hello)

hello()

Hello, before the function is called
Inside Hello function
Hello, after the function is called

In [48]:
#decorators
def func_decorator(func):
     def inner_func():
         print("Hello, before the function is called")
         func()
         print("Hello, after the function is called")
     
     return inner_func
 
@func_decorator
def func_hello():
     print("Inside Hello function")
    
func_hello()

Hello, before the function is called
Inside Hello function
Hello, after the function is called

In [50]:
@func_decorator
def func_hello():
     print("Inside Hello function")

'''Above code is equivalent to -
def func_hello():
     print("Inside Hello function")
     
func_hello = func_decorator(func_hello)'''

func_hello()

Hello, before the function is called
Inside Hello function
Hello, after the function is called

In [56]:
import math
def calculate(f):  #decorator function
     def inner1(*args):  #*args is variable length argument
         print("Decorator")
         f(*args)        # this is being decorated by decorator
         print("**************")
     return inner1
    
   
def factorial(*num):  #factorial() getting decorated
    for i in num:
     print(math.factorial(i)) 

inner=calculate(factorial)
inner(10,20)

Decorator
3628800
2432902008176640000
**************

In [61]:
import math
def calculate(f):  #decorator function
     def inner1(*args):  #*args is variable length argument
         print("Decorator")
         print("^^^^^^^^^^^^^^^")
         f(*args)        # this is being decorated by decorator
         print("**************")
     return inner1
    
@calculate    
def factorial(*num):  #factorial() getting decorated
    for i in num:
     print(math.factorial(i)) 
'''
inner=calculate(factorial)
inner(10,20)'''

@calculate
def squareroot(num): #squareroot() getting decorated
 print(math.sqrt(num))

'''
inner=calculate(squareroot)
inner(10,20)'''

@calculate
def maximum(*num): #maximum() getting decorated
    m=0
    for i in num:
       if i > m:
           m=i
    print(m)

@calculate
def min(*num): #maximum() getting decorated
    m=num[0]
    for i in num:
       if i < m:
           m=i
    print(m)

'''inner=calculate(factorial)
inner(10)'''
factorial(10,20)
squareroot(225)
maximum(12,34,2,56,45,67,89)
min(10,-3,-40,203,45,1)

Decorator
^^^^^^^^^^^^^^^
3628800
2432902008176640000
**************
Decorator
^^^^^^^^^^^^^^^
15.0
**************
Decorator
^^^^^^^^^^^^^^^
89
**************
Decorator
^^^^^^^^^^^^^^^
-40
**************

In [ ]:
import math
def calculate(f):  #decorator function
     def inner1(*args):  #*args is variable length argument
         print("Decorator")
         f(*args)        # this is being decorated by decorator
         print("**************")
     return inner1
    
@calculate    
def factorial(num):  #factorial() getting decorated
     print(math.factorial(num)) 

@calculate
def squareroot(num): #squareroot() getting decorated
 print(math.sqrt(num))
    
factorial(10)
squareroot(225)

In [9]:
#generator
def fun1():
    for i in range(5):
        yield i
        print("Generator")
   

obj=fun1()
print(obj)
#for i in obj:
#    print(i)

    
print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))

<generator object fun1 at 0x0000025BE4564D40>
0
Generator
1
Generator
2
Generator
3
Generator
4
Generator

'print(next(obj))\nprint(next(obj))\nprint(next(obj))\nprint(next(obj))\nprint(next(obj))'

In [59]:
generator_exp=(i**2 for i in range(5) if i%2==0)
#for i in generator_exp:
 #   print(i)
print(next(generator_exp))
print(next(generator_exp))
print(next(generator_exp))

print(type(generator_exp))

0
4
16
<class 'generator'>

In [1]:
def fibonacci_numbers(nums):
    x,y=0,1
    for i in range(nums):
        x,y=y,x+y
        yield x
# Generator function - square
def square(nums):
    print(type(nums))
    
    for num in nums:
        yield num**2
print(sum(square(fibonacci_numbers(5))))

<class 'generator'>
40

In [15]:
import tkinter
root = tkinter.Tk()     
root.mainloop()

In [56]:
#tkinter
import tkinter
root = tkinter.Tk()          
root.title("Tkinter Demonstration")   #Title
root.geometry('500x500')  #Dimension
root.mainloop() #creates window
 
 #loops continuously until we close the  window

In [58]:
 from tkinter import *
 win =Tk() 
 win.title("Tkinter Demonstration")
 win.geometry('300x200')
 
 b=Button(win, text='Submit')
 b.pack()
 win.mainloop()

In [68]:
import tkinter
from tkinter import *
from tkinter import messagebox

win = Tk() 
win.title("Tkinter Button Widget Demonstration")
win.geometry('300x200')
def click():
    messagebox.showinfo("Message", "Yellow Button clicked")
a=Button(win, text="yellow", command=click, activeforeground="red", activebackground="orange", padx=30, pady=25)
a.pack()
win.mainloop()

In [70]:
import tkinter
from tkinter import *
from tkinter import messagebox
win = Tk() 
win.title("Tkinter Button Widget Demonstration")
win.geometry('300x200')
def click():
     messagebox.showinfo("Message", "Green Button clicked")
    
a=Button(win, text="yellow", activeforeground="yellow",activebackground="orange", pady=10)
b=Button(win, text="Blue", activeforeground="blue",activebackground="orange", pady=10)
 # adding click function to the below button
c=Button(win, text="Green", command=click, activeforeground = "green", activebackground="green", pady=10) 
d=Button(win, text="red", activeforeground="blue",activebackground="red", pady=10)
a.pack(side=LEFT)
b.pack(side=RIGHT)
c.pack(side=TOP)
d.pack(side=BOTTOM)
win.mainloop()

In [74]:
from tkinter import * 
win=Tk() 
win.title("Tkinter Canvas Widget Demonstration")
win.geometry("300x300") 
#creating canvas
cv=Canvas(win, bg = "orange", height = "300") 
cv.pack() 
win.mainloop()

In [9]:
x=0,1,2,3
x

(0, 1, 2, 3)

In [ ]:
from tkinter import *
 
def set():
    print("Hello World")
 
root = Tk()
root.geometry("200x150")
 
frame = Frame(root)
frame.pack()
button = Button(frame, text = "Button1", command = set,fg = "red", font = "Verdana 14 underline",bd = 10, bg = "light blue", relief = "solid")
button.pack(pady = 40)
 
root.mainloop()

Hello World

In [88]:
"""
x1, y1, x2, y2: These define the bounding box (coordinates of the top-left and bottom-right corners of 
the rectangle) for the arc. The arc will be drawn inside this box.
start: The starting angle of the arc, in degrees. The angle is measured counterclockwise from the 
positive x-axis. extent: The extent of the arc, in degrees. This defines how far the arc will extend 
from the start angle."""

import tkinter
win=tkinter.Tk()
win.title("Tkinter Canvas Widget")
# creating canvas
cv=tkinter.Canvas(win, bg="yellow", height=300, width=300)
# drawing two arcs
coord = 10, 10, 300, 300 # These are the coordinates of the bounding box (top-left and bottom-right corners) 
                         #in which the arc will be drawn.
arc1=cv.create_arc(coord, start=0, extent=150, fill="pink")
#arc2=cv.create_arc(coord, start=150, extent=200, fill="green")
# adding canvas to window and display it
cv.pack()
win.mainloop()

In [32]:
pip install pillow

Requirement already satisfied: pillow in c:\users\farit\anaconda3\lib\site-packages (10.2.0)
Note: you may need to restart the kernel to use updated packages.

In [30]:
from tkinter import * 
win=Tk()
cv=Canvas(win, height=700, width=700)
filename=PhotoImage(file="flower1.png")
image=cv.create_image(20, 20, anchor=nw, image=filename)
cv.pack()
win.mainloop()
"""
The anchor option defines how the image will be positioned at the coordinates provided. 
The default anchor is center, meaning the image will be centered at the given coordinates. 
The anchor option allows you to adjust the positioning relative to the specified coordinates. """

TclError: couldn't recognize data in image file "flower1.png"

In [7]:
import tkinter as tk
from tkinter import * 
from PIL import Image, ImageTk  # Importing Image and ImageTk from Pillow

# Create the main window
root = tk.Tk()

# Open the image using Pillow (can handle .jpg, .png, .bmp, etc.)
image = Image.open("th.jpg")  # Replace with your image file path

# Convert the image to a format that Tkinter can use
photo = ImageTk.PhotoImage(image)
cv=Canvas(root, height=500, width=500)
image=cv.create_image(20, 100, anchor=NW, image=photo)

# Create a label widget and display the image
#label = tk.Label(root, image=photo)
#label.pack()
cv.pack()
root.mainloop()

In [13]:
from tkinter import *
win=Tk() 
win.geometry("300x300") 
w=Label(win, text ='Select Your Hobbies:', fg="red",font = "50") 
w.pack() 
Checkbutton1 = int() # holds integer data passed to the checkbutton. The IntVar class 
#is used to store an integer value, and it automatically updates any tkinter widget that 
#is linked to it.
Checkbutton2 = IntVar() # Create an IntVar variable to track the state of the Checkbutton
Checkbutton3 = IntVar()
cb1=Checkbutton(win, text="Painting",variable = Checkbutton1, onvalue = 1, offvalue = 0, height = 2, width = 10) 
cb2=Checkbutton(win, text = "Dancing", variable = Checkbutton2, onvalue = 1, offvalue = 0, height = 2, width = 10)
cb3=Checkbutton(win, text = "Cooking", variable = Checkbutton3, onvalue = 1, offvalue = 0, height = 2, width = 10) 
cb1.pack() 
cb2.pack() 
cb3.pack() 
mainloop()

"""
IntVar is a special variable class used to manage integer values in a way that allows 
tkinter widgets to interact with the variable and automatically update the GUI when the
value changes. It is part of the tkinter variable classes, which also include StringVar, 
DoubleVar, and BooleanVar. IntVar is commonly used with widgets like Entry, Label, 
Radiobutton, Checkbutton, and others that can  reflect or modify integer values in a 
tkinter GUI. """

'\nIntVar is a special variable class used to manage integer values in a way that allows \ntkinter widgets to interact with the variable and automatically update the GUI when the\nvalue changes. It is part of the tkinter variable classes, which also include StringVar, \nDoubleVar, and BooleanVar. IntVar is commonly used with widgets like Entry, Label, \nRadiobutton, Checkbutton, and others that can  reflect or modify integer values in a \ntkinter GUI. '

In [19]:
from tkinter import * 
from tkinter import messagebox
win=Tk() 
win.geometry("400x250") 
username=Label(win, text = "Username").place(x = 30,y = 50) 
password=Label(win, text = "Password").place(x = 30, y = 90)
def click():
    messagebox.showinfo("Message","Login done")
    
submitbutton=Button(win, text = "Submit",activebackground = "red", command=click, activeforeground = "blue").place(x = 30, y = 140) 
e1=Entry(win,width = 20).place(x = 100, y = 50) 
e2=Entry(win, width = 20,show="*").place(x = 100, y = 90) 
win.mainloop()

In [ ]:
from tkinter import * 
from tkinter import messagebox
log={"Arun":"xyz123","Aravind":"12345","Ragu":"xyz123"}
win=Tk() 
win.geometry("400x250") 
username=Label(win, text = "Username").place(x = 30,y = 50) 
password=Label(win, text = "Password").place(x = 30, y = 90)
def click():
    u=e1.get()
    x= u in log
    if x:
        p=e2.get()
        if str(log[u]) == p:
            messagebox.askokcancel("Message","Login done")
        else:
            messagebox.showinfo("Message","Wrong Password")
    else:
       messagebox.showinfo("Message","User does not exist")
    
submitbutton=Button(win, text = "Submit",activebackground = "red", command=click, activeforeground = "blue").place(x = 30, y = 140) 
e1=Entry(win,width = 20)
e1.place(x = 100, y = 50) 
e2=Entry(win, width = 20, show="*")
e2.place(x = 100, y = 90) 

win.mainloop()

In [31]:
from tkinter import * 
win=Tk() 
win.geometry("400x250") 
name=Label(win, text = "Name").place(x = 30,y = 50) 
email=Label(win, text = "Email").place(x = 30, y = 90) 
password=Label(win, text = "Password").place(x = 30, y = 130)
submitbtn=Button(win, text = "Submit",activebackground = "red", activeforeground = "blue").place(x = 30, y = 170) 
entry1=Entry(win,relief="flat").place(x = 80, y = 50)
entry2=Entry(win).place(x = 80, y = 90) 
entry3=Entry(win).place(x = 95, y = 130) 
win.mainloop()

In [3]:
from tkinter import *
from tkinter import messagebox
win=Tk()
# function to use the askquestion() function
def Submit(): 
    messagebox.askquestion("Form", "Do you want to Submit")
    messagebox.showerror("Error","Your entry is wrong")
    
win.geometry("300x300")
# creating Submit Button
b=Button(win, text = "Submit", command = Submit) 
b.pack() 
win.mainloop()

In [9]:
from tkinter import *
win = Tk() 
win.geometry("300x150") 
w=Label(win, text ='Frame Demonstration', font = "50") 
w.pack() 
frame=Frame(win) 
frame.pack()
b1= Button(frame, text ="Python", fg ="red") 
b1.pack( side = LEFT) 
b2 = Button(frame, text ="Java", fg ="brown") 
b2.pack( side = LEFT ) 
b3 = Button(frame, text =".Net", fg ="blue") 
b3.pack( side = LEFT )
bottomframe=Frame(win)
bottomframe.pack(side = BOTTOM ) 
b4 = Button(bottomframe, text ="C", fg ="green") 
b4.pack( side = BOTTOM) 
b5 = Button(bottomframe, text ="C++", fg ="green") 
b5.pack( side = BOTTOM) 
b6 = Button(bottomframe, text ="Fortran", fg ="green") 
b6.pack( side = BOTTOM) 
win.mainloop()

In [ ]:
from tkinter import *
win=Tk()
win.geometry("400x400")
# Frame 1
frame1=Frame(win,bg="black",width=500,height=300)
frame1.pack()
# Frame 2 is created within Frame 1
frame2=Frame(frame1,bg="Grey",width=100,height=100)
frame2.pack(pady=20,padx=20)
win.mainloop()

In [1]:
%%file module1.py
a=10
print("Welcome to Module-1")
def f1():
    print("in f1")
def f2():
    print("in f2")
def _f3():
    print("in f3")

Writing module1.py

In [3]:
import module1 #All functions and variables of module1 are are available available
module1.f1()
module1.f2()
module1._f3()
print("value is", module1.a)
module1.a +=  2
print("value is", module1.a)

Welcome to Module-1
in f1
in f2
in f3
value is 10
value is 12

In [1]:
#In Python, sys.path is a list of strings that specifies the search paths for modules. When you import a module, Python looks through these paths to find 
#the module.
import sys
print(sys.path)

['C:\\Users\\farit\\Notebooks', 'C:\\Users\\farit\\anaconda3\\python311.zip', 'C:\\Users\\farit\\anaconda3\\DLLs', 'C:\\Users\\farit\\anaconda3\\Lib', 'C:\\Users\\farit\\anaconda3', '', 'C:\\Users\\farit\\anaconda3\\Lib\\site-packages', 'C:\\Users\\farit\\anaconda3\\Lib\\site-packages\\win32', 'C:\\Users\\farit\\anaconda3\\Lib\\site-packages\\win32\\lib', 'C:\\Users\\farit\\anaconda3\\Lib\\site-packages\\Pythonwin']

In [3]:
assert 23==23

In [5]:
help()

Welcome to Python 3.11's help utility! If this is your first time using
Python, you should definitely check out the tutorial at
https://docs.python.org/3.11/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To get a list of available
modules, keywords, symbols, or topics, enter "modules", "keywords",
"symbols", or "topics".

Each module also comes with a one-line summary of what it does; to list
the modules whose name or summary contain a given string such as "spam",
enter "modules spam".

To quit this help utility and return to the interpreter,
enter "q" or "quit".

help>  pass

The "pass" statement
********************

   pass_stmt ::= "pass"

"pass" is a null operation  when it is executed, nothing happens. It
is useful as a placeholder when a statement is required syntactically,
but no code needs to be executed, for example:

   def f(arg): pass    # a function that does nothing (yet)

   class C: pass       # a class with no methods (yet)

help>  return

The "return" statement
**********************

   return_stmt ::= "return" [expression_list]

"return" may only occur syntactically nested in a function definition,
not within a nested class definition.

If an expression list is present, it is evaluated, else "None" is
substituted.

"return" leaves the current function call with the expression list (or
"None") as return value.

When "return" passes control out of a "try" statement with a "finally"
clause, that "finally" clause is executed before really leaving the
function.

In a generator function, the "return" statement indicates that the
generator is done and will cause "StopIteration" to be raised. The
returned value (if any) is used as an argument to construct
"StopIteration" and becomes the "StopIteration.value" attribute.

In an asynchronous generator function, an empty "return" statement
indicates that the asynchronous generator is done and will cause
"StopAsyncIteration" to be raised.  A non-empty "return" statement is
a syntax error in an asynchronous generator function.

Related help topics: FUNCTIONS


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [15]:
x=10
print(x)
if __name__=="__main__" :
    print("I am in main")
else:
    print("Not main")

10
I am in main

In [3]:
def add():
    '''Performing addition of two numbers.'''
    a=10
    b=7
    print(a+b)
print("Using __doc__:")
print(add.__doc__)
print("Using help:")
help(add)

Using __doc__:
Performing addition of two numbers.
Using help:
Help on function add in module __main__:

add()
    Performing addition of two numbers.

In [3]:
help()

Welcome to Python 3.11's help utility! If this is your first time using
Python, you should definitely check out the tutorial at
https://docs.python.org/3.11/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To get a list of available
modules, keywords, symbols, or topics, enter "modules", "keywords",
"symbols", or "topics".

Each module also comes with a one-line summary of what it does; to list
the modules whose name or summary contain a given string such as "spam",
enter "modules spam".

To quit this help utility and return to the interpreter,
enter "q" or "quit".

help>  pass

The "pass" statement
********************

   pass_stmt ::= "pass"

"pass" is a null operation  when it is executed, nothing happens. It
is useful as a placeholder when a statement is required syntactically,
but no code needs to be executed, for example:

   def f(arg): pass    # a function that does nothing (yet)

   class C: pass       # a class with no methods (yet)

help>  declaration

No Python documentation found for 'declaration'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help>  lamda

No Python documentation found for 'lamda'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help>  lambda

Lambdas
*******

   lambda_expr ::= "lambda" [parameter_list] ":" expression

Lambda expressions (sometimes called lambda forms) are used to create
anonymous functions. The expression "lambda parameters: expression"
yields a function object.  The unnamed object behaves like a function
object defined with:

   def <lambda>(parameters):
       return expression

See section Function definitions for the syntax of parameter lists.
Note that functions created with lambda expressions cannot contain
statements or annotations.

Related help topics: FUNCTIONS


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [17]:
%%file file1.py
print ("file1 __name__ = %s" %__name__) 
if __name__ == "__main__": 
    print ("file1 is executed directly") 
else: 
    print ("file1 is imported")

Overwriting file1.py

In [19]:

print ("file1 __name__ = %s" %__name__) 
if __name__ == "__main__": 
    print ("file1 is executed directly") 
else: 
    print ("file1 is imported")

file1 __name__ = __main__
file1 is executed directly

In [21]:
#%%file file2.py
import file1
print ("file2 __name__ = %s" %__name__) 
if __name__ == "__main__": 
    print ("file2 is executed directly") 
else: 
    print ("file2 is imported")

file1 __name__ = file1
file1 is imported
file2 __name__ = __main__
file2 is executed directly

In [27]:
import sys
sys.path.insert(0, 'C:/Users/farit/AppData/Local/Packages/PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0/LocalCache/local-packages/Python311/Scripts')

In [17]:
# import testmod for testing a function
from doctest import testmod
# define a function to test
def fact(n):
    '''
    >>> fact(5)
    120
    >>> fact(0)
    1
    '''
    if n==0:
        res=1
    else:
        res=n*fact(n-1)
    return res

testmod(name ='fact', verbose = True)

Trying:
    fact(5)
Expecting:
    120
ok
Trying:
    fact(0)
Expecting:
    1
ok
12 items had no tests:
    fact
    fact.dataframe_columns
    fact.dataframe_hash
    fact.dtypes_str
    fact.get_dataframes
    fact.import_pandas_safely
    fact.is_data_frame
    fact.mydoubler
    fact.myfunc
    fact.mytripler
    fact.upper
    fact.x
1 items passed all tests:
   2 tests in fact.fact
2 tests in 13 items.
2 passed and 0 failed.
Test passed.

TestResults(failed=0, attempted=2)

In [1]:
import pdb
def fact(n):
    f = 1
    for i in range(1,n+1):
        pdb.set_trace()
        print (i)
        f = f * i
    return f
print("Factorial of 5 =",fact(5))

> c:\users\farit\appdata\local\temp\ipykernel_19148\2355548607.py(6)fact()

ipdb>  next

1
> c:\users\farit\appdata\local\temp\ipykernel_19148\2355548607.py(7)fact()

ipdb>  next

> c:\users\farit\appdata\local\temp\ipykernel_19148\2355548607.py(4)fact()

ipdb>  next

> c:\users\farit\appdata\local\temp\ipykernel_19148\2355548607.py(5)fact()

ipdb>  next

> c:\users\farit\appdata\local\temp\ipykernel_19148\2355548607.py(6)fact()

ipdb>  list

      1 import pdb
      2 def fact(n):
      3     f = 1
      4     for i in range(1,n+1):
      5         pdb.set_trace()
----> 6         print (i)
      7         f = f * i
      8     return f
      9 print("Factorial of 5 =",fact(5))

ipdb>  next

2
> c:\users\farit\appdata\local\temp\ipykernel_19148\2355548607.py(7)fact()

ipdb>  next

> c:\users\farit\appdata\local\temp\ipykernel_19148\2355548607.py(4)fact()

ipdb>  next

> c:\users\farit\appdata\local\temp\ipykernel_19148\2355548607.py(5)fact()

ipdb>  next

> c:\users\farit\appdata\local\temp\ipykernel_19148\2355548607.py(6)fact()

ipdb>  next

3
> c:\users\farit\appdata\local\temp\ipykernel_19148\2355548607.py(7)fact()

ipdb>  next

> c:\users\farit\appdata\local\temp\ipykernel_19148\2355548607.py(4)fact()

ipdb>  next

> c:\users\farit\appdata\local\temp\ipykernel_19148\2355548607.py(5)fact()

ipdb>  next

> c:\users\farit\appdata\local\temp\ipykernel_19148\2355548607.py(6)fact()

ipdb>  next

4
> c:\users\farit\appdata\local\temp\ipykernel_19148\2355548607.py(7)fact()

ipdb>  next

> c:\users\farit\appdata\local\temp\ipykernel_19148\2355548607.py(4)fact()

ipdb>  list

      1 import pdb
      2 def fact(n):
      3     f = 1
----> 4     for i in range(1,n+1):
      5         pdb.set_trace()
      6         print (i)
      7         f = f * i
      8     return f
      9 print("Factorial of 5 =",fact(5))

ipdb>  next

> c:\users\farit\appdata\local\temp\ipykernel_19148\2355548607.py(5)fact()

ipdb>  list

      1 import pdb
      2 def fact(n):
      3     f = 1
      4     for i in range(1,n+1):
----> 5         pdb.set_trace()
      6         print (i)
      7         f = f * i
      8     return f
      9 print("Factorial of 5 =",fact(5))

ipdb>  next

> c:\users\farit\appdata\local\temp\ipykernel_19148\2355548607.py(6)fact()

--KeyboardInterrupt--

KeyboardInterrupt: Interrupted by user
5
Factorial of 5 = 120

In [13]:
assert 10==10

In [19]:
# import testmod for testing a function
from doctest import testmod
# define a function to test
def length(str):
    '''
    >>> length("Welcome")
    7
    >>> length("Hi welcome to Python")
    20
    '''
    c=0
    for i in str:
        c=c+1
    return c

testmod(name ='length', verbose = True)

Trying:
    fact(5)
Expecting:
    120
ok
Trying:
    fact(0)
Expecting:
    1
ok
Trying:
    length("Welcome")
Expecting:
    7
ok
Trying:
    length("Hi welcome to Python")
Expecting:
    20
ok
12 items had no tests:
    length
    length.dataframe_columns
    length.dataframe_hash
    length.dtypes_str
    length.get_dataframes
    length.import_pandas_safely
    length.is_data_frame
    length.mydoubler
    length.myfunc
    length.mytripler
    length.upper
    length.x
2 items passed all tests:
   2 tests in length.fact
   2 tests in length.length
4 tests in 14 items.
4 passed and 0 failed.
Test passed.

TestResults(failed=0, attempted=4)

In [1]:
from tkinter import *
from tkinter.ttk import *
 
# Creating master Tkinter window 
master = Tk() 
master.geometry("175x175") 
 
# Tkinter string variable 
# able to store any string value 
v1 = StringVar(master, "1")
v2 = StringVar(master, "2") 
 
Radiobutton(master, text = "Male", variable = v1,value = "1").pack(side = TOP, ipady = 5)
Radiobutton(master, text = "Female", variable = v2,value = "2").pack(side = TOP, ipady = 5)
master.mainloop()

In [ ]:
import tkinter as tk 
from tkinter import ttk 

# Creating tkinter window 
window = tk.Tk() 
window.geometry('350x250') 
# Label 
ttk.Label(window, text = "Select the Month :", 
		font = ("Times New Roman", 10)).grid(column = 0, 
		row = 15, padx = 10, pady = 25) 

n = tk.StringVar() 
monthchoosen = ttk.Combobox(window, width = 27, 
							textvariable = n) 

# Adding combobox drop down list 
monthchoosen['values'] = (' January', 
						' February', 
						' March', 
						' April', 
						' May', 
						' June', 
						' July', 
						' August', 
						' September', 
						' October', 
						' November', 
						' December') 

monthchoosen.grid(column = 1, row = 15) 

# Shows february as a default value 
monthchoosen.current(2) 
window.mainloop()

#Lambda Function

In [3]:
x = lambda a : a + 10
print(x(10))

20

In [5]:
#Lambda functions can take any number of arguments:
x = lambda a, b : a * b
print(x(5, 6))

30

In [5]:
maximum=lambda a,b : a if a>b else b #max(a,b) can also be used
print("The maximum is ",maximum(6,7))
print(maximum,type(maximum))

The maximum is  7
<function <lambda> at 0x0000027347E03060> <class 'function'>

In [3]:
maximum=lambda a,b : max(a,b) #max(a,b) can also be used
print("The maximum is ",maximum(6,7))
print(maximum,type(maximum))

The maximum is  7
<function <lambda> at 0x000002734631B920> <class 'function'>

In [9]:
#The power of lambda is better shown when you use them 
#as an anonymous function inside another function.
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(30))

60

In [11]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [15]:
upper = lambda string: string.upper()
s="welcome"
print(upper(s))

WELCOME

In [15]:
l=[12,34,55,67,33]
e_l=map(lambda x: x if x%2==0 else None , l)
print(list(e_l))

[12, 34, None, None, None]

In [43]:
l=[12,34,55,67,33]
e_l=map(lambda x: x%2==0 , l)
print(list(e_l))

[True, True, False, False, False]

In [1]:
a = [ 'apple', 'pineapple', 'fig', 'mangoes' ]
b = list(map(str.upper, a)) 
print(b)

['APPLE', 'PINEAPPLE', 'FIG', 'MANGOES']

In [ ]:
l=[1,2,3]
def square(i):
    
b=map(

In [9]:
a = [ 'apple', 'pineapple', 'fig', 'mangoes' ]
b = list(map(len, a)) 
print(b)
type(b)

<map object at 0x000001DC0C2F9030>

map

In [11]:
a = [ 'apple', 'pineapple', 'fig', 'mangoes' ]
b = list(map(len, a)) 
print(b)
type(b)

[5, 9, 3, 7]

list

In [22]:
def get_square(n):  #user defined function
 return n*n                                                                                
a = [11, 33, 22, 44] 
b = list(map(get_square, a)) 
print(b)

[121, 1089, 484, 1936]

In [13]:
def double_num(n):   #user defined function
    if n% 2 == 0:  
        return n * 2 
    else:  
        return n  
numbers = [1, 2, 3, 4, 5]  
result = list(map(double_num, numbers)) 
print("The modified list is ",result)

The modified list is  [1, 4, 3, 8, 5]

In [17]:
def div_3_5(n):   #user defined function
    if n% 3 == 0 and n%5 == 0:  
        return n
    #else:  
     #   return
        
l=[]
n=int(input("Enter number n"))
for i in range(n):
    num=int(input("Enter number"))
    l=l+[num]
    #l=l.append(num)
    
result = list(map(div_3_5, l)) 
print("The modified list is ",result)

Enter number n 4
Enter number 5
Enter number 15
Enter number 70
Enter number 60

The modified list is  [None, 15, None, 60]

In [21]:
num1 = [4, 2, 5,6,8] 
num2 = [6, 8, 9] 
def product(x,y): 
 return x*y 
result = map(product, num1, num2) 
print(list(result))

[24, 16, 45]

In [23]:
num1 = (4, 2, 5)                                                                                                                             
num2 = "abc"                                                                                       
def product(x,y): 
 return x*y 
result = map(product, num1, num2) 
print(list(result))

['aaaa', 'bb', 'ccccc']

In [25]:
num1 = {4, 2, 5}                                                                                                                             
num2 = {5, 6, 3}                                                                                   
def product(x,y): 
 return x*y 
result = map(product, num1, num2) 
print(list(result))

[6, 20, 30]

In [18]:
a = [ 'apple', 'pineapple', 'fig', 'mangoes' ]
print(list(map(lambda x: x.upper(), a)))

['APPLE', 'PINEAPPLE', 'FIG', 'MANGOES']

In [19]:
a = [11, 33, 22, 44] 
b = list(map(lambda x: x*x, a)) 
print(b)

[121, 1089, 484, 1936]

In [5]:
marks = [55, 78, 90, 87, 65, 45]
def myFunc(m):
    if m > 70 :
        return True
    else:
        return False
Distinction = list(filter(myFunc, marks))
print("Students with marks greater than 70 are",Distinction)

Students with marks greater than 70 are [55, 65, 45]

In [29]:
import math
l = [55,12,23,17,97,78, 90, 87, 65, 45]
def is_prime(m):
    for i in range(2,int(math.sqrt(m))+1):
        if m%i == 0:
            return False
    else:
        return True
        
Prime = list(filter(is_prime, l))
print("Prime numbers are",Prime)

Prime numbers are [23, 17, 97]

In [33]:
vowels=['a','e','i','o','u']
def is_vowel(c):
    if c in vowels:
        return True
    else:
        return False
sent="Hi Programming is fun. Python is good"
v_l=list(filter(is_vowel,sent))
print(v_l)
print(len(v_l))

['i', 'o', 'a', 'i', 'i', 'u', 'o', 'i', 'o', 'o']
10

In [7]:
#filter the words in sentence which vowels in it
vowels=['a','e','i','o','u']
def is_vowel(w):
    for i in w:
        if i in vowels:
            return True
    else:
        return False
        
sent="Hi Programming is fun. Python is good, alks skdf"
words=sent.split()
vw_l=list(filter(is_vowel,words))
print(vw_l)
print(len(vw_l))

['Hi', 'Programming', 'is', 'fun.', 'Python', 'is', 'good,', 'alks']
8

In [9]:
#segregating even and odd numbers
l=[1,2,3,45,67,33,12,78,89]
e_l=filter(lambda x: x%2==0, l)
print(list(e_l))
o_l=filter(lambda x: x%2!=0, l)
print(list(o_l))

[2, 12, 78]
[1, 3, 45, 67, 33, 89]

In [45]:
Names=[ 'Ram', 'Tejas', 'Aditya', 'Ravi', 'Dinesh', 'Raghu' ]
#finds all names whose length exceeds 5 and converts them to uppercase
print(list(map(len, filter(lambda name : len(name) > 5, Names))))

[6, 6]

In [11]:
Names=[ 'Ram', 'Tejas', 'Aditya', 'Ravi', 'Dinesh', 'Raghu' ]
#finds all names whose length exceeds 5 and converts them to uppercase
print(list(map(str.upper, filter(lambda name : len(name) > 5, Names))))

['ADITYA', 'DINESH']

In [49]:
Names=[ 'Ram', 'Tejas', 'Aditya', 'Ravi', 'Dinesh', 'Raghu' ]
vowels=['a','e','i','o','u']
def vowel(s):
    c=0
    for i in s:
        if str.lower(i) in vowels:
            c=c+1
    return c
#finds all names whose length exceeds 5 and converts them to uppercase
print(list(map(vowel, filter(lambda name : len(name) > 5, Names))))

[3, 2]

In [13]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = list(filter(lambda x: x%3==0, numbers))
print("The list of multiples of 3 is", result)

The list of multiples of 3 is [3, 6, 9]

In [20]:
 n = int(input("Enter the number : "))
 def generate(i) : 
     prod = n * i # prod : local variable
     return str(n) + " X " + str(i) + " = " + str(prod)
     
 for line in map(generate, range(1, 11)):
     print(line)

Enter the number :  4

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [15]:
import functools
n = 5
print("The factorial is ",functools.reduce(int.__mul__ , range(1, n + 1)))

The factorial is  120

In [17]:
dir(functools)

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [35]:
import functools
print(functools.reduce(int.__mul__, [34,56,78,56,34]))

282766848

In [19]:
import functools
print(functools.reduce(int.__add__, [34,56,78,56,34]))

258

In [39]:
print(functools.reduce(int.__add__, range(1,101)))

5050

In [41]:
print(functools.reduce(int.__add__, range(1,101,2)))

2500

In [45]:
import functools
print(functools.reduce(lambda x,y:x+y, [45,67,34,23,35,56,70]))

330

In [49]:
import functools
n=5
print(functools.reduce(lambda x,y:x*y, range(1,n+1)))

120

In [51]:
import functools
n=5
def product(x,y):
    return x*y
print(functools.reduce(product, range(1,n+1)))

120

In [7]:
import functools
print(functools.reduce(int.__add__, range(10)))

45

In [11]:
def product(x, y):
    print("product : ", x, y)
    return x * y
print("The product with 100 as initial value is",\
      functools.reduce(product, [11, 22, 33, 44],100))

product :  100 11
product :  1100 22
product :  24200 33
product :  798600 44
The product with 100 as initial value is 35138400

In [1]:
from functools import reduce
def sum_list(numbers):
    return reduce(lambda x, y: x + y, numbers)

# Example usage
numbers = [1, 2, 3, 4, 5]
print(sum_list(numbers))  # Output should be 15

15

In [15]:
from functools import reduce
def product_list(numbers):
    return reduce(lambda x, y: x * y, numbers)
# Example usage
numbers = [11, 24, 33, 45]
print(product_list(numbers))

392040

In [19]:
from functools import reduce
def maxi(x,y):
    if x>y:
        return x
    else:
        return y
def find_max(numbers):
    return reduce(lambda x, y: x if x > y else y, numbers)
# Example usage
numbers = [2, 8, 1, 7, 4]
print(reduce(maxi, numbers))
#print(find_max(numbers))  # Output should be 8

8

In [53]:
from functools import reduce
numbers=[45,67,34,12,48,19,67]
m=reduce(lambda x, y: x if x > y else y, numbers)
print(m)

67

In [25]:
from functools import reduce

def concatenate_strings(strings):
    return reduce(lambda x, y: x + y, strings)

# Example usage
strings = ['Hello', ' ', 'World', '!', ' Have ','Fun ','in ','coding']
print(concatenate_strings(strings))  # Output should be 'Hello World!'

Hello World! Have Fun in coding

In [37]:
from functools import reduce
strings = ['Hello', ' ', 'World', '!', ' Have ','Fun ','in ','coding']
rstr=reduce(lambda x, y: x + y, strings)

# Example usage

print(rstr)

Hello World! Have Fun in coding

In [31]:
from functools import reduce
#import math
def gcd(m,n):
    if m<n:
        return gcd(m,n-m)
    elif m>n:
         return gcd(m-n,n)
    else:
        return m

def find_gcd(numbers):
    return reduce(math.gcd, numbers)
# Example usage
numbers = [36, 60, 48,96,100]
print(reduce(gcd,numbers))
#print(find_gcd(numbers))  # Output should be 12

4

In [127]:
from functools import reduce

def flatten_list(lists):
    return reduce(lambda x, y: x + y, lists)

# Example usage
lists = [[1, 2], [3, 4], [5, 6]]
print(flatten_list(lists))  # Output should be [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [45]:
lists = [[1, 2], [3, 4], [5, 6]]
new_l=reduce(lambda x, y: x + y, lists)
print(new_l)

[1, 2, 3, 4, 5, 6]

In [ ]:
from functools import reduce
def count_occurrences(lst, target):
    return reduce(
        )
# Example usage
lst = [1, 2, 3, 4, 1, 2, 1]
target = 1
print(count_occurrences(lst, target))  # Output should be 3

In [43]:
lst = [1, 2, 3, 4, 1, 2, 1]
t = 1
count=reduce(lambda c,x: c+1 if x==t else c,lst,0)
print(count)

3

In [39]:
str="Hi welocme to Python"
t='o'
count=reduce(lambda c,x: c+1 if x==t else c,str,0)
print(count)

3

In [49]:
import functools
str="Hi welocme to Python"
v="aeiou"
final_str=list(functools.reduce(lambda x,y :x+(y if y not in v else ""),str,""))
print(final_str)
print("".join(final_str))

['H', ' ', 'w', 'l', 'c', 'm', ' ', 't', ' ', 'P', 'y', 't', 'h', 'n']
H wlcm t Pythn

In [79]:
str="Hi welocme to Python"
v="aeiou"
final_str=reduce(lambda x,y :x+y if y not in v else x,str,"")
print(final_str)

#print("".join(final_str))

H wlcm t Pythn

In [139]:
str="Hi welocme to Python"
t=' '
count=reduce(lambda c,x: c+1 if x==t else c,str,1)
print(count)

4

In [75]:
#Filter Even Numbers and Sum Them
from functools import reduce
def sum_even_numbers(numbers):
    return reduce(lambda total, x: total + (x if x % 2 == 0 else total), numbers, 0)
# Example usage
numbers = [1, 22, 33, 40, 5, 69]
print(sum_even_numbers(numbers))  # Output should be 62

336

In [141]:
from functools import reduce
numbers = [1, 22, 33, 40, 5, 69]
result=reduce(lambda total, x: total + x if x % 2 == 0 else total, numbers, 0)
print(result)  # Output should be 62

62

In [143]:
m=[1,2,3]
n=[4,5,6]
nl=[x+y for x in m for y in n]
print(nl)

[5, 6, 7, 6, 7, 8, 7, 8, 9]

In [ ]:
m=[1,2,3]
n=[4,5,6]
nl=[x+y for x in m for y in n]
print(nl)

In [1]:
l=[x*x for x in range(1,20,2)]
print(l)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [145]:
matrix = [[1, 2], [3,4], [5,6], [7,8]]

transpose = [[row[i] for row in matrix] for i in range(2)]
for row in transpose:
    print (row)

[1, 3, 5, 7]
[2, 4, 6, 8]

In [1]:
list1=[x*x for x in range(1,11)]
list2=[x for x in list1 if x%2 != 0]
list3 =[x*x for x in range(1,11) if x%2 !=0]
print(list3)

[1, 9, 25, 49, 81]

In [19]:
l=[y for y in range(100) if y % 2 == 0 if y % 5 == 0]
print(l)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [25]:
l=[1234,67,45,876]
l6=[n for n in l if '6' in str(n)]
print(l6)

[67, 876]

In [35]:
s=" Hi welcome    to Python   "
count=[c for c in s if c==' ']
print(len(count))

10

In [7]:
matrix = [[1,2,3,4], 
          [5,6,7,8], 
          [9,10,11,12], 
          [13,14,15,16]]
mat_trans= [[0 for x in range(4)] for y in range(4)] 
#print(mat_trans)

#print(mat_trans)
for i in range(len(matrix)):
    for j in range(len(matrix[i])):
        mat_trans[i][j]=matrix[j][i]
for row in mat_trans:
    print(row)

[1, 5, 9, 13]
[2, 6, 10, 14]
[3, 7, 11, 15]
[4, 8, 12, 16]

In [81]:
matrix = [[1,2,3,4], 
          [5,6,7,8], 
          [9,10,11,12], 
          [13,14,15,16]]

#mat_trans= [[0 for x in range(len(matrix))] for y in range(len(matrix[0]))] 
print(mat_trans)
for i in range(len(matrix)):
    for j in range(len(matrix[0])):
        mat_trans[i][j]=matrix[j][i]
for row in mat_trans:
    print(row)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[1, 5, 9, 13]
[2, 6, 10, 14]
[3, 7, 11, 15]
[4, 8, 12, 16]

In [11]:
# Python3 Program to find 
# transpose of a matrix 

M = 3
N = 4

# This function stores 
# transpose of A[][] in B[][] 
def transpose(A, B): 
    for i in range(N): 
        for j in range(M): 
            B[i][j] = A[j][i] 
# driver code 
A = [ [1, 1, 1, 1], 
[2, 2, 2, 2], 
[3, 3, 3, 3]] 
# To store result 
B = [[0 for x in range(M)] for y in range(N)] 
transpose(A, B) 
print("Result matrix is") 
for i in range(N): 
    for j in range(M): 
        print(B[i][j], " ", end='') 
    print()

Result matrix is
1  2  3
1  2  3
1  2  3
1  2  3

In [15]:
list1 = [1, 2, 3, 4]
list2 = [2, 3, 4, 5]
com_l=[a for a in list1 if a in list2]
common_num = [a for a in list1 for b in list2 if a == b]
#print(com_l)
print(common_num)

[2, 3, 4]

In [31]:
string=input("Enter the string::")
str_no_vowel = "".join([char for char in string.lower() if char not in ["a","e","i","o","u"]])
print("The string without vowel::",str_no_vowel)

Enter the string:: jlk;lk

The string without vowel:: jlk;lk

In [51]:
#Define lists for 'persons,and a tuple for 'ages'
persons = ["Baskar", "Monica", "Riya", "Madhav", "John", "Prashanth"]
ages = (35, 26, 28, 14)
#lists along with the 'ages' tuple
zipped_result = zip(persons,ages)
print("Zipped result as a list:") 
for i in list(zipped_result):
    print(list(i))

Zipped result as a list:
['Baskar', 35]
['Monica', 26]
['Riya', 28]
['Madhav', 14]

In [63]:
lis1 = [1,2,3]
lis2 = [4,5,6,7]
#print(list(zip(lis1,lis2)))
z=zip(list1,list2)
print(z)
print(dict(zip(lis1,lis2)))
print({k:v for k,v in (zip(lis1,lis2))})

<zip object at 0x000001E59D15FB40>
{1: 4, 2: 5, 3: 6}
{1: 4, 2: 5, 3: 6}

In [87]:
def round_up_to_position(areas):
    rounded_areas = []
    for i in range(len(areas)):
        rounded_area = round(areas[i], i + 1)  # Round to (i+1) decimal places
        rounded_areas.append(rounded_area)
    return rounded_areas

# Example list of circle areas
areas = [3.14159, 2.71828, 1.61803, 0.57721]

# Get rounded areas
rounded_areas = round_up_to_position(areas)
print(rounded_areas)

[3.1, 2.72, 1.618, 0.5772]

In [29]:
list1= [1,2,3,4,5]
Chars= ['a', 'b', 'c', 'd', 'e']
n_l=zip(Chars,list1)

for i in n_l:
    print(i)

('a', 1)
('b', 2)
('c', 3)
('d', 4)
('e', 5)

In [3]:
scores=[12,34,78,90,45,34,67,88]
m_list = [y for y in scores if y >75]
print(m_list)

[78, 90, 88]

In [5]:
Lst=['Orange', 'Apple' , 'Mango', 'Apricot']
A_lst = [y for y in Lst if y[0] == 'A']
def filt(s):
    if s[0] == 'A':
        return True
    else:
        return False
b = filter(filt, Lst)

print(list(b))
print(A_lst)

['Apple', 'Apricot']
['Apple', 'Apricot']

In [7]:
#sum of digits using reduce
from functools import reduce
num=input("enter a number")
res=reduce(lambda x, y: int(x) + int(y), num)
print(res)

enter a number 4567

22

In [9]:
from functools import reduce
l=[12,34,43,56,36,33,22,67,456]
min=reduce(lambda a,b : a if a<b else b,l)
print(min)

12

In [23]:
class car:
    car_name="Benz"
c1=car()
c1.car_name="maruthi"
print(c1.car_name)
c2=car()
print(c2.car_name)
print(c1)

maruthi
Benz
<__main__.car object at 0x000002838F78A590>

In [25]:
class Point:
    """ This is my first class"""
  
p=Point()
p.x=10
p.y=20
print(p.x)
print(p.y)
print(Point.__doc__)

10
20
 This is my first class

In [75]:
class Point:
  x=5
  y=7

p1= Point()	#first object of the class
p1.x=10.0	#attributes for p1 
p1.y=20.0
print(p1.x, p1.y)	#prints 10.0 20.0
Point.x=Point.x+10
print(Point.x)

p2= Point()	#second object of the class
print(p2.x)
print(p2.y)
print(p2.z)

10.0 20.0
15
15
7

AttributeError: 'Point' object has no attribute 'z'

In [33]:
import math 
class Point:
  """ This is a class Point representing a coordinate point
  """

def read_point(p):
  p.x=float(input("x coordinate:")) 
  p.y=float(input("y coordinate:"))

def print_point(p): 
  print("(%g,%g)"%(p.x, p.y))

def distance(p1,p2):
  d=math.sqrt((p1.x-p2.x)**2+(p1.y-p2.y)**2) 
  return d

p1=Point()	#create first object print("Enter First point:")
read_point(p1)	#read x and y for p1

p2=Point()	#create second object print("Enter Second point:")
read_point(p2)	#read x and y for p2

dist=distance(p1,p2)	#compute distance print("First point is:")
print_point(p1)	#print p1 print("Second point is:") 
print_point(p2)	#print p2
print("Distance is: %g" % dist)	
print("Distance is: %g" %(distance(p1,p2)))	#print d

x coordinate: 5
y coordinate: 10
x coordinate: 20
y coordinate: 13

(5,10)
(20,13)
Distance is: 15.2971

In [77]:
class Time:
    """This is my time class"""

def read_time(t):
    t.h=int(input("Enter Hour:")) 
    t.m=int(input("Enter minute:")) 
    t.s=int(input("Enter second:")) 

def add_time(t1,t2):
    t3=Time()
    t3.h=t1.h+t2.h
    t3.m=t1.m+t2.m
    t3.s=t1.s+t2.s
    if t3.s >= 60:
        t3.s=t3.s-60
        t3.m=t3.m+1
    if t3.m>= 60:
        t3.m=t3.m-60
        t3.h=t3.h+1
    return t3
def print_time(t): 
  print("(%d:%d:%d)"%(t.h, t.m,t.s))

t1=Time()
read_time(t1)
t2=Time()
read_time(t2)
print_time(t1)
print_time(t2)
t3=add_time(t1,t2)
print_time(t3)

Enter Hour: 5
Enter minute: 45
Enter second: 32
Enter Hour: 12
Enter minute: 35
Enter second: 42

(5:45:32)
(12:35:42)
(18:21:14)

In [81]:
class Time:
  
  def __init__(self, h=0,m=0,s=0): 
    self.hour=h
    self.min=m 
    self.sec=s
    
  def read_time(self):
    self.h=int(input("Enter Hour"))
    self.m=int(input("Enter minute"))
    self.s=int(input("Enter seconds"))

  def add(self,t2):
    t3=Time()
    t3.h=self.h+t2.h
    t3.m=self.m+t2.m
    t3.s=self.s+t2.s
    if t3.s >= 60:
        t3.s=t3.s-60
        t3.m=t3.m+1
    if t3.m>= 60:
        t3.m=t3.m-60
        t3.h=t3.h+1
    return t3

  def print_time(self): 
    print("(%d:%d:%d)"%(self.h, self.m,self.s))

t1=Time()
t1.read_time()
t2=Time()
t2.read_time()
t1.print_time()
t2.print_time()
t3=t1.add(t2)
t3.print_time()

Enter Hour 5
Enter minute 45
Enter seconds 32
Enter Hour 12
Enter minute 25
Enter seconds 42

(5:45:32)
(12:25:42)
(18:11:14)

In [ ]:
import math 
class Point:
  def __init__(self,a,b): 
    self.x=a 
    self.y=b

  def dist(self,p2):
    d=math.sqrt((self.x-p2.x)**2 + (self.y-p2.y)**2) 
    return d

  def __str__(self):
    return "(%d,%d)" %(self.x, self.y)

p1=Point(10,20)	             # init () is called automatically 

p2=Point(4,5)	# init () is called automatically
print("P1 is:",p1)	# str () is called automatically 
print("P2 is:",p2)	# str () is called automatically
print(p2)

d=p1.dist(p2)	#explicit call for dist() 
print("The distance is:",d)

In [46]:
class Car:
    
    def classfun():
        print("I am Car class")
    def __init__(self,n="Ambasiter"):
        self.name=n
        
    def disp(self):
        print(id(self))
        print("My car is",self.name)
        
c1=Car()
c1.disp()

c2=Car("Maruthi")
c2.disp()
Car.classfun()
#print(id(c1))

#print(type(Car))

1827180600400
My car is Ambasiter
1827188425552
My car is Maruthi
I am Car class

In [61]:
class car:
    carname="Benz"

c1=car()
print(car.carname)
print(c1.carname)
c1.carname="BMW"
print(c1.carname)
c2=car()
print(c2.carname)

Benz
Benz
BMW
Benz

In [63]:
class student:
    
    def __init__(self,n="Aruna",r=10111):
        self.name=n
        self.rollno=r
        
    #Parameterized constructor   
   # def __init__(self,n,r):
     #  self.name=n
       #self.rollno=r
    def disp(self):
        print("Name: %s" % self.name)
        print("RollNo:%d" % self.rollno)
        
s1=student("Arun",1011)
s2=student()
s1.disp() 
s2.disp()

Name: Arun
RollNo:1011
Name: Aruna
RollNo:10111

In [65]:
class Person:
    # Default constructor
    #def __init__(self):
     #   self.name = "John Doe"
      #  self.age = 30
    
    # Parameterized constructor
    def __init__(self, name="Arun", age=34):
        self.name = name
        self.age = age
    
    def display(self):
        print(f"Name: {self.name}, Age: {self.age}")

# Using the parameterized constructor
person1 = Person("Alice", 25)
person1.display()

# Using the default constructor
person2 = Person()  # It uses default values
person2.display()

Name: Alice, Age: 25
Name: Arun, Age: 34

In [63]:
class Person:
    # Class attribute (shared by all instances)
    species = "Homo sapiens"
    
    def __init__(self, name, age):
        # Object (instance) attributes (unique to each object)
        self.name = name
        self.age = age

    def display(self):
        print(f"Name: {self.name}, Age: {self.age}, Species: {Person.species}")

# Creating objects of the Person class
person1 = Person("Alice", 25)
person2 = Person("Bob", 30)

# Accessing object attributes
print(person1.name)  # Alice
print(person2.age)   # 30

# Accessing class attribute
print(person1.species)  # Homo sapiens
print(person2.species)  # Homo sapiens

# Changing the class attribute
Person.species = "Homo neanderthalensis"

# Accessing the updated class attribute
print(person1.species)  # Homo neanderthalensis
print(person2.species)  # Homo neanderthalensis

# Displaying all attributes using the display method
person1.display()
person2.display()

Alice
30
Homo sapiens
Homo sapiens
Homo neanderthalensis
Homo neanderthalensis
Name: Alice, Age: 25, Species: Homo neanderthalensis
Name: Bob, Age: 30, Species: Homo neanderthalensis

In [73]:
class Car:
    def fuel():
        print("Petrol")
    def fuel_1(self):
        print("object fuel is called")
Car.fuel()
c1=Car()
c1.fuel_1()

Petrol
object fuel is called

In [7]:
class Person:
    name = "John"
    age = 36
    country = "Norway"

person=Person()
x = getattr(person, 'age')
print(x)
setattr(person,'age',"40")
x = getattr(person, 'age')
print(x)
x =hasattr(person,"age")
print(x)
person.age=50
x = getattr(person, 'age')
print(person.age)
print(Person.age)
print(x)

36
40
True
50
36
50

In [9]:
class candidate:
    def __init__(self,r,s):
        self.regno=r
        self.score=s
    def selection(self):
        if self.score > 70:
            self.remarks="Selected"
        else:
            self.remarks="Not selected"
    def display(self):
        self.selection()
        print(self.regno,"\n",self.score,"\n",self.remarks)

c1=candidate(111,67)
c1.display()

111
 67
 Not selected

In [7]:
class Travel:
    Travel_Code=int()
    Place=str()
    Number_of_travelers=int()
    Number_of_buses=int()
    def __init__(self, Travel_Code=105, Place="Bombay", Number_of_travelers=15, Number_of_buses=5):
        # Initialize the class members with default values
        self.Travel_Code = Travel_Code
        self.Place = Place
        self.Number_of_travelers = Number_of_travelers
        self.Number_of_buses = Number_of_buses
    def read_input(self): 
        # Take input from the user to update class members
        self.Travel_Code = int(input("Enter Travel Code: "))
        self.Place = input("Enter Place: ")
        self.Number_of_travelers = int(input("Enter Number of Travelers: "))
        
        # Assign number of buses based on the number of travelers
        if self.Number_of_travelers >= 10:
            self.Number_of_buses = 1
        else:
            self.Number_of_buses = 0
        
    def display(self):
        print(f"Travel Code: {self.Travel_Code}")
        print(f"Place: {self.Place}")
        print(f"Number of Travelers: {self.Number_of_travelers}")
        print(f"Number of Buses: {self.Number_of_buses}")

# Create an object of Travel class
travel = Travel()
travel1=Travel()
travel1.read_input()

# Display the attributes of the object
travel.display()
travel1.display()

Enter Travel Code:  345
Enter Place:  Chennai
Enter Number of Travelers:  8

Travel Code: 105
Place: Bombay
Number of Travelers: 15
Number of Buses: 5
Travel Code: 345
Place: Chennai
Number of Travelers: 8
Number of Buses: 0

In [ ]:
class Stock:
    def __init__(self):
        # Initialize data members with default values
        self.item_code = 0
        self.item_name = ""
        self.price = 0.0
        self.quantity = 0
        self.discount = 0.0

    # Method to calculate the discount
    def CalcDisc(self):
        if self.quantity <= 100:
            self.discount = 0  # No discount for quantity <= 100
        elif self.quantity <= 150:
            self.discount = 5  # 5% discount for quantity <= 150
        else:
            self.discount = 10  # 10% discount for quantity > 150

    # Method to enter item details from the user
    def Enter_Details(self):
        self.item_code = int(input("Enter Item Code: "))
        self.item_name = input("Enter Item Name: ")
        self.price = float(input("Enter Price: "))
        self.quantity = int(input("Enter Quantity: "))
        self.CalcDisc()  # Call CalcDisc to calculate the discount based on quantity

    # Method to display all details
    def Display(self):
        print(f"Item Code: {self.item_code}")
        print(f"Item Name: {self.item_name}")
        print(f"Price: {self.price}")
        print(f"Quantity: {self.quantity}")
        print(f"Discount: {self.discount}%")

# Example of using the Stock class
stock_item = Stock()

# Enter details of the item
stock_item.Enter_Details()

# Display the entered details along with the discount
stock_item.Display()

In [41]:
class BankAccount:
    """ This is Banaccount class"""
    
def read(a):
        a.name = input("Enter Customer Name")
        a.acctno = input("Enter Customer Acct No")
        a.balance = int(input("Enter balance"))

def deposit(a):
    amount=int(input("enter amount to deposit"))
    if amount > 0:
        a.balance += amount
        print(f"Deposited: ${amount}")
    else:
        print("Deposit amount must be greater than zero.")

def withdraw(a):
    amount=int(input("enter amount to withdraw"))
    if amount > 0:
        if a.balance >= amount:
                a.balance -= amount
                print(f"Withdrawn: ${amount}")
        else:
                print("Insufficient balance.")
    else:
            print("Withdrawal amount must be greater than zero.")

def check_balance(a):
        print(f"Current balance: ${a.balance}")

account = BankAccount()  # Creating an account with an initial balance of 0

while True:
    print("\nBank Account Menu:")
    print("0. Input")
    print("1. Deposit")
    print("2. Withdraw")
    print("3. Check Balance")
    print("4. Exit")

    try:
        choice = int(input("Choose an option: "))
        if choice == 0:
            read(account)
        elif choice == 1:
            deposit(account)
        elif choice == 2:
            withdraw(account)
        elif choice == 3:
            check_balance(account)
        elif choice == 4:
            print("Exiting the program.")
            break
        else:
            print("Invalid option. Please try again.")
    except ValueError:
            print("Invalid input. Please enter a number.")

Bank Account Menu:
0. Input
1. Deposit
2. Withdraw
3. Check Balance
4. Exit

Choose an option:  0
Enter Customer Name Arun
Enter Customer Acct No 111
Enter balance 2500

Bank Account Menu:
0. Input
1. Deposit
2. Withdraw
3. Check Balance
4. Exit

KeyboardInterrupt: Interrupted by user

In [5]:
class MyClass:
    def __init__(self, name):
        self.name = name
        print(f"Constructor called. {self.name} created.")

    def some_method(self):
        print(f"Hello from {self.name}!")
    def __del__(self):
        print(f"Destructor called.{self.name} deleted.")
obj1 = MyClass("Object 1") # Creating objects 
obj1.some_method()
del obj1

Constructor called. Object 1 created.
Destructor called.Object 1 deleted.
Hello from Object 1!
Destructor called.Object 1 deleted.

In [1]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

# Create an instance of the Person class
person = Person("Alice", 30)

# Get the 'name' attribute (exists)
name = getattr(person, 'name', 'Unknown')
print(name)  # Output: Alice

# Get a non-existing 'address' attribute (doesn't exist)
address = getattr(person, 'address', 'No address provided')
print(address)  # Output: No address provided

Alice
No address provided

In [83]:
class BankAccount:
    def __init__(self, name, ano, balance=0):
        self.name = name
        self.acctno = ano
        self.balance = balance

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited: ${amount}")
        else:
            print("Deposit amount must be greater than zero.")

    def withdraw(self, amount):
        if amount > 0:
            if self.balance >= amount:
                self.balance -= amount
                print(f"Withdrawn: ${amount}")
            else:
                print("Insufficient balance.")
        else:
            print("Withdrawal amount must be greater than zero.")

    def check_balance(self):
        print(f"Current balance: ${self.balance}")


cus_name=input("Enter name of the custome")
acctno=input("Enter account no of cutomer")
bal=float(input("Enter balance of cutomer"))
account = BankAccount(cus_name,acctno,bal)  # Creating an account with an initial balance of 0

while True:
    print("\nBank Account Menu:")
    print("1. Deposit")
    print("2. Withdraw")
    print("3. Check Balance")
    print("4. Exit")

    try:
        choice = int(input("Choose an option: "))

        if choice == 1:
            amount = float(input("Enter the amount to deposit: $"))
            account.deposit(amount)
        elif choice == 2:
            amount = float(input("Enter the amount to withdraw: $"))
            account.withdraw(amount)
        elif choice == 3:
            account.check_balance()
        elif choice == 4:
            print("Exiting the program.")
            break
        else:
            print("Invalid option. Please try again.")
    except ValueError:
            print(

Enter name of the custome Arun
Enter account no of cutomer 111
Enter balance of cutomer 3000

Bank Account Menu:
1. Deposit
2. Withdraw
3. Check Balance
4. Exit

Choose an option:  8

Invalid option. Please try again.

Bank Account Menu:
1. Deposit
2. Withdraw
3. Check Balance
4. Exit

Choose an option:  1
Enter the amount to deposit: $ 500

Deposited: $500.0

Bank Account Menu:
1. Deposit
2. Withdraw
3. Check Balance
4. Exit

Choose an option:  3

Current balance: $3500.0

Bank Account Menu:
1. Deposit
2. Withdraw
3. Check Balance
4. Exit

Choose an option:  2
Enter the amount to withdraw: $ 7000

Insufficient balance.

Bank Account Menu:
1. Deposit
2. Withdraw
3. Check Balance
4. Exit

Choose an option:  2
Enter the amount to withdraw: $ 700

Withdrawn: $700.0

Bank Account Menu:
1. Deposit
2. Withdraw
3. Check Balance
4. Exit

Choose an option:  3

Current balance: $2800.0

Bank Account Menu:
1. Deposit
2. Withdraw
3. Check Balance
4. Exit

Choose an option:  4

Exiting the program.

In [9]:
class A:
    def __init__(self, n='Rahul'):
        self.name = n
class B(A):
    def __init__(self, roll):
        self.roll = roll
b1 = B(23)
print(b1.name)

AttributeError: 'B' object has no attribute 'name'

In [15]:
class A:
    def __init__(self, n='Rahul'):
        self.name = n
class B(A):
    def __init__(self, name,roll):
        super().__init__(name)
        self.roll = roll
b1 = B("Ravi", 23)
print(b1.name)

Ravi

In [51]:
class sample:
    def __init__(self,m,n,o):
        self.a=m
        self.b=n
        self.c=o
        
class sample_child(sample):
    def __init__(self,m,n,o,q):
        #super().__init__(m,n,o)
        sample.__init__(self,m,n,o)
        self.e=q
    def display(self):
        print(self.a,"--",self.b,"--",self.c,"--",self.e)
s1=sample_child(1,2,3,4)
s1.display()

1 -- 2 -- 3 -- 4

In [13]:
class A:
    def disp(self):
        print("in disp A")
class B:
    def disp(self):
        print("in disp B")
class C(B,A): #reverse the order of A and B and observe the output
    def disp(self):
        super().disp()
        print("in disp C")
c1=C()
c1.disp()

in disp B
in disp C

In [16]:
#Constructor

class Person:
    def __init__(self, name, id_no):
        self.name = name
        self.id_no = id_no
    def Display(self):
        print(self.name, self.id_no)
class stud(Person):
    def Print(self):
        print("stud class called")       
 
#creating an object of a person
p = Person("Akash", 1001) 
p.Display()
# Calling child class function
student = stud("Madan", 103)
student.Print()
# calling parent class function
student.Display()

Akash 1001
stud class called
Madan 103

In [45]:
class Person:
    strength=50
    def __init__(self, name, idnumber):
        self.name = name
        self.idnumber = idnumber
    def display(self):
        print(self.name)
        print(self.idnumber)
class Employee(Person):
    def __init__(self, name, idnumber, salary, desgn):
        self.salary = salary
        self.desgn = desgn
        Person.__init__(self, name, idnumber) #observe carefully
    def display(self):
        super().display()
        print(self.salary)
        print(self.desgn)
        print(super().strength)
emp = Employee('Riya', 802, 50000, "Admin")
emp1 = Employee('Reyan', 802,30000,"Developer")
emp.display()
emp1.display()

Riya
802
50000
Admin
50
Reyan
802
30000
Developer
50

In [53]:
t=isinstance(emp,Person)
print(t)

True

In [49]:
class A:
    def __init__(self, n='Rahul'):
        self.name = n
class B(A):
    def __init__(self, roll):
        super().__init__("Arvind")
        self.roll = roll
b1 = B(23)
print(b1.name)

Arvind

In [55]:
class Author:
    def __init__(self, name):
        self.name = name
        self.name = name
class Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author
author1 = Author("J.K. Rowling")
book1 = Book("Harry Potter and the Sorcerer's Stone", author1)
# Accessing Book and Author attributes
print(f"The book '{book1.title}' was written by {book1.author.name}")

The book 'Harry Potter and the Sorcerer's Stone' was written by J.K. Rowling

In [2]:
# Base class: AudioFile
class AudioFile:
    def __init__(self, filename):
        self.filename = filename

    def play(self):
        pass
# MP3File class inheriting AudioFile
class MP3File(AudioFile):
    def __init__(self, filename):
        super().__init__(filename)

    def play(self):
        print(f"Playing MP3 file: {self.filename}")
        # Add specific MP3 play functionality (e.g., using an MP3 player library)
        print("Initializing MP3 player...")
        print("MP3 file is now playing.")
# WAVFile class inheriting AudioFile
class WAVFile(AudioFile):
    def __init__(self, filename):
        super().__init__(filename)

    def play(self):
        print(f"Playing WAV file: {self.filename}")
        # Add specific WAV play functionality (e.g., using a WAV player library)
        print("Initializing WAV player...")
        print("WAV file is now playing.")

mp3_file = MP3File("song.mp3")
wav_file = WAVFile("audio.wav")
mp3_file.play1()
print()
wav_file.play()

AttributeError: 'MP3File' object has no attribute 'play1'

In [27]:
# Base class: Vehicle
class Vehicle():
    def __init__(self, weight):
        self.weight = weight  # weight of the vehicle in kilograms

    def calculate_speed(self):
        pass

# Subclass: Car
class Car(Vehicle):
    def __init__(self, weight, horsepower):
        super().__init__(weight)
        self.horsepower = horsepower  # horsepower of the car

    def calculate_speed(self):
        # Speed calculation for Car (simplified formula)
        # speed = (horsepower / weight) * constant_factor (for simplicity, constant_factor = 100)
        speed = (self.horsepower / self.weight) * 100
        return speed

# Subclass: Bike
class Bike(Vehicle):
    def __init__(self, weight, engine_displacement):
        super().__init__(weight)
        self.engine_displacement = engine_displacement  # engine displacement in cc (cubic centimeters)

    def calculate_speed(self):
        # Speed calculation for Bike (simplified formula)
        # speed = (engine_displacement / weight) * constant_factor (for simplicity, constant_factor = 10)
        speed = (self.engine_displacement / self.weight) * 10
        return speed

# Example usage:
car = Car(weight=1500, horsepower=150)
bike = Bike(weight=200, engine_displacement=600)
print(f"Car speed: {car.calculate_speed():.2f} km/h")
print(f"Bike speed: {bike.calculate_speed():.2f} km/h")

Car speed: 10.00 km/h
Bike speed: 30.00 km/h

In [11]:
try:
    result = 10 / 0 # This will raise a ZeroDivisionError
except ZeroDivisionError as e:
    print("Error:", e)  # Handling the ZeroDivisionError
else:
    print("No exceptions occurred.")
finally:
    print("This will always execute, regardless of exceptions.")

Error: division by zero
This will always execute, regardless of exceptions.

In [33]:
try:
    num1 = int(input("Enter first number: "))
    num2 = int(input("Enter second number: "))
    result = num1 / num2 # This might raise a ZeroDivisionError
    my_list = [1, 2, 3]
    index = int(input("Enter an index for the list: "))
    value = my_list[index] # This might raise an IndexError
except ValueError:
    print("ValueError: Please enter a valid number.")
except ZeroDivisionError:
    print("ZeroDivisionError: Cannot divide by zero.")
except IndexError:
    print("IndexError: Index is out of range.")
else:
    print("No exceptions occurred.")
finally:
    print("This will always execute, regardless of exceptions.")

Enter first number:  7
Enter second number:  2
Enter an index for the list:  4

IndexError: Index is out of range.
This will always execute, regardless of exceptions.

In [35]:
#user defined Iterator
class MyRange:
    def __init__(self, start, end):
        self.start = start
        self.end = end

    def __iter__(self):
        # This method returns an iterator object
        self.current = self.start
        return self

    def __next__(self):
        if self.current >= self.end:
            raise StopIteration  # End of iteration
        self.current += 1
        return self.current - 1

# Usage of the MyRange class
my_range = MyRange(1, 5)
for num in my_range:
    print(num)

1
2
3
4

In [37]:
#user defined Iterator
class MyContainer:
    def __init__(self, mylist):
        self.mylist = mylist
    def __iter__(self):
        self.i=0
        return self
    def __next__ (self):
        self.i += 1
        if self.i <= len(self.mylist):
            return self.mylist[self.i - 1]
        else: 
            raise StopIteration
a = ['apple', 'banana', 'orange', 'dates', 'cherry']
c = MyContainer(a) 
for w in c : 
    print(w)

apple
banana
orange
dates
cherry

In [ ]:
#interface concept in Python
from abc import ABC, abstractmethod

class MyInterface(ABC):
    @abstractmethod
    def method1(self):
        #print("abstract method")
        pass

    @abstractmethod
    def method2(self):
        pass

class MyClass(MyInterface):
    def method1(self):
        print("Method 1 implemented")

    def method2(self):
        print("Method 2 implemented")

# Trying to instantiate MyInterface would raise an error
# obj = MyInterface()  # TypeError: Can't instantiate abstract class MyInterface with abstract methods method1, method2
#aobj=MyInterface()
#aobj.method1()
obj = MyClass()
obj.method1()  # Output: Method 1 implemented
obj.method2()  # Output: Method 2 implemented

In [9]:
try:
    # Some code that may raise an exception
    #y="a"+2 #typeerror
    number = int("abc")
    x = 1 / 0  # This will raise a ZeroDivisionError
except (ZeroDivisionError, ValueError, TypeError) as e:
    print(f"An error occurred: {e}")

An error occurred: invalid literal for int() with base 10: 'abc'

In [7]:
try:
    # Try to convert a string to an integer
    number = int("abc")  # This will raise a ValueError
except ValueError as e:
    print(f"A ValueError occurred: {e}")

A ValueError occurred: invalid literal for int() with base 10: 'abc'

In [19]:
class MyException(Exception): #inherits from the Exception class
    def __init__(self, str):
        self.str = str
    def __str__(self):
        return self.str
# check whether n is between 1 and 100
#n = int(input("Enter a number:"))
try:
    n = int(input("Enter the number"))
    if not 1 <= n <= 100 :
        raise MyException("Number not in range")
except MyException as e:
    print(e)
else:
    print("Number well within the range")
print("Program Terminated")

Enter the number 189

Number not in range
Program Terminated

In [23]:
class FiveDivisionError(Exception):
    pass
try:
    n1=int(input("Enter the first number"))
    n2=int(input("Enter the second number"))
    if n2==5:
        raise FiveDivisionError("Dividing by 5 not possible")
    d=n1/n2
    print("The answer is",d)
except (FiveDivisionError,ZeroDivisionError) as e:
    print(e)
print("Program ends")

Enter the first number 56
Enter the second number 5

Dividing by 5 not possible
Program ends